/* ITCSS: Base */
/* Unclassed HTML elements(type selectors). */
@import "taucharts/build/production/tauCharts.min";

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype");
}

*,
*::before,
*::after {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

html,
body {
  @apply --text-break;
  height: 100%;
  overflow-y: hidden;
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  position: relative;
  /* 320px = iPhoneSEの横幅。これを最小値とする。 */
  min-width: 320px;
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
  /* Safariで異様にサイズが小さくなるバグへの対応 */
  font-size: 1rem;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
}
