/* ITCSS: Base */
/* Unclassed HTML elements(type selectors). */
html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  line-height: 1.5em;
  color: var(--color-text-primary);
}
