/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .inner {
    display: block;
  }
  .inner > div:first-child {
    margin-bottom: 2rem;
  }
}

.kv {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
