.MyTopic {
  display: block;
  padding: 24px;

  &__head {
    @apply --layout-center-between;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dotted #ccc;
  }

  &__label {
    flex-grow: 1;
    margin-right: 12px;
    font-weight: bold;
  }

  &__postButton {
    @mixin hover {
      opacity: 0.5;
    }
    flex-shrink: 0;
    border-radius: 4px;
    background-color: orange;
    padding: 12px;
    color: #fff;
    cursor: pointer;
  }

  &__item {
    @apply --layout-center-center;
  }

  &__id {
    margin-right: 8px;
  }

  &__content {
    flex-grow: 1;
    margin-right: 8px;
  }

  &__putButton {
    @mixin hover {
      opacity: 0.5;
    }
    margin-right: 8px;
    text-decoration: underline;
    cursor: pointer;
  }

  &__deleteButton {
    @mixin hover {
      opacity: 0.5;
    }
    text-decoration: underline;
    cursor: pointer;
  }

  &__list &__item {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tail {
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px dotted #ccc;
  }
}
