/* 色情報 */
:root {
  /* 背景色 */
  --color-bg-base: #fff;
  --color-bg-primary: #000;
  --color-bg-primaryLight: #7e7e7e;
  --color-bg-secondary: #a4a4a4;
  --color-bg-tertiary: #d8d8d8;
  --color-bg-tertiaryLight: #ededed;
  --color-bg-accent: #f00;
  --color-bg-accentLight: #ff7e7e;
  /* テキスト色 */
  --color-text-primary: #000;
  --color-text-secondary: #8c8c8c;
  --color-text-accent: #f00;
  --color-text-accentLight: #ff7e7e;
}
