/* 色情報 */
:root {
  /* 基本色 */
  --color-base-black: #484848;
  --color-base-black-secondary: #a3a3a3;
  --color-base-gray: #d1d1d1;
  --color-base-gray-secondary: #cecece;
  --color-base-gray-tertiary: #f9f9f9;
  --color-base-white: #fff;
  --color-base-red: #f57177;
  --color-base-red-secondary: #fab7ba;
  --color-base-red-tertiary: #f9efee;
  --color-base-blue: #627edf;
  --color-base-blue-secondary: #c0cbf2;
  --color-base-blue-tertiary: #e9eefb;
}
