:root {
  /* 各cssファイルから参照される変数群。値は適当。 */
  --theme-app-text: #fff;
  --theme-app-bg: #fff;
  --theme-poster-overlay: #fff;
  --theme-poster-label: #fff;
  --theme-menu-logo: #fff;
  --theme-menu-text: #fff;
  --theme-menu-arrow: #fff;
  --theme-menu-overlay: #fff;
  --theme-header-bg: #fff;
  --theme-orderButton-bg: #fff;
  --theme-endpointCard-bg: #fff;
  --theme-endpointCard-border: #fff;
  --theme-popover-bg: #fff;
  --theme-tag-text: #fff;
  --theme-tag-bg: #fff;
  --theme-componentCard-bg: #fff;
  --theme-componentCard-border: #fff;
  --theme-componentPlus-border: #fff;
  --theme-componentCardTable-bg: #fff;
  --theme-componentCardTable-grad-start: #fff;
  --theme-componentCardTable-grad-end: #fff;
  --theme-componentCardTable-row-border: #fff;
  --theme-componentCardTable-cell-hover: #fff;
  --theme-pagination-bg: #fff;
  --theme-pagination-bg-disabled: #fff;
  --theme-pagination-border: #fff;
  --theme-logo-left: #fff;
  --theme-logo-right: #fff;

  /* --theme-fooを上書きするため。 */
  /* standard */
  --theme-standard-app-text: #484848;
  --theme-standard-app-bg: #f0f0ef;
  --theme-standard-poster-overlay: transparent;
  --theme-standard-poster-label: #fff;
  --theme-standard-menu-logo: #f57177;
  --theme-standard-menu-text: #fff;
  --theme-standard-menu-arrow: #f57177;
  --theme-standard-menu-overlay: transparent;
  --theme-standard-header-bg: #f9f9f9;
  --theme-standard-orderButton-bg: #d1d1d1;
  --theme-standard-endpointCard-bg: #fff;
  --theme-standard-endpointCard-border: #e4e4e2;
  --theme-standard-endpointPlus-border: #c6c5c5;
  --theme-standard-popover-bg: #fff;
  --theme-standard-tag-text: #d1d1d1;
  --theme-standard-tag-bg: #f9f9f9;
  --theme-standard-componentCard-bg: #fff;
  --theme-standard-componentCard-border: #e4e4e2;
  --theme-standard-componentCardTable-bg: #fff;
  --theme-standard-componentCardTable-grad-start: rgba(255, 255, 255, 0);
  --theme-standard-componentCardTable-grad-end: rgba(255, 255, 255, 1);
  --theme-standard-componentCardTable-row-border: #f9f9f9;
  --theme-standard-componentCardTable-cell-hover: #f9f9f9;
  --theme-standard-pagination-bg: #fff;
  --theme-standard-pagination-bg-disabled: #f9f9f9;
  --theme-standard-pagination-border: #d1d1d1;
  --theme-standard-logo-left: #e5797a;
  --theme-standard-logo-right: #cb6b6c;

  /* midnight */
  --theme-midnight-app-text: #00c8ff;
  --theme-midnight-app-bg: #001217;
  --theme-midnight-poster-overlay: #001d26;
  --theme-midnight-poster-label: #00c8ff;
  --theme-midnight-menu-logo: #00c8ff;
  --theme-midnight-menu-text: #00c8ff;
  --theme-midnight-menu-arrow: #00c8ff;
  --theme-midnight-menu-overlay: #001d26;
  --theme-midnight-header-bg: #001820;
  --theme-midnight-orderButton-bg: #001d26;
  --theme-midnight-endpointCard-bg: #001217;
  --theme-midnight-endpointCard-border: #004051;
  --theme-midnight-endpointPlus-border: #004051;
  --theme-midnight-popover-bg: #001d26;
  --theme-midnight-tag-text: #00c8ff;
  --theme-midnight-tag-bg: #001d26;
  --theme-midnight-componentCard-bg: #001217;
  --theme-midnight-componentCard-border: #004051;
  --theme-midnight-componentCardTable-bg: #001217;
  --theme-midnight-componentCardTable-grad-start: rgba(0, 18, 23, 0);
  --theme-midnight-componentCardTable-grad-end: rgba(0, 18, 23, 1);
  --theme-midnight-componentCardTable-row-border: #001d26;
  --theme-midnight-componentCardTable-cell-hover: #001d26;
  --theme-midnight-pagination-bg: #001217;
  --theme-midnight-pagination-bg-disabled: #004051;
  --theme-midnight-pagination-border: #004051;
  --theme-midnight-logo-left: #6ed9bb;
  --theme-midnight-logo-right: #62c0a6;

  /* terminal */
  --theme-terminal-app-text: #35dcba;
  --theme-terminal-app-bg: #000;
  --theme-terminal-poster-overlay: #091714;
  --theme-terminal-poster-label: #35dcba;
  --theme-terminal-menu-logo: #35dcba;
  --theme-terminal-menu-text: #35dcba;
  --theme-terminal-menu-arrow: #35dcba;
  --theme-terminal-menu-overlay: #091714;
  --theme-terminal-header-bg: #050d0c;
  --theme-terminal-orderButton-bg: #091714;
  --theme-terminal-endpointCard-bg: #000;
  --theme-terminal-endpointCard-border: #0d372f;
  --theme-terminal-endpointPlus-border: #0d372f;
  --theme-terminal-popover-bg: #091714;
  --theme-terminal-tag-text: #35dcba;
  --theme-terminal-tag-bg: #091714;
  --theme-terminal-componentCard-bg: #000;
  --theme-terminal-componentCard-border: #0d372f;
  --theme-terminal-componentCardTable-bg: #000;
  --theme-terminal-componentCardTable-grad-start: rgba(0, 0, 0, 0);
  --theme-terminal-componentCardTable-grad-end: rgba(0, 0, 0, 1);
  --theme-terminal-componentCardTable-row-border: #091714;
  --theme-terminal-componentCardTable-cell-hover: #091714;
  --theme-terminal-pagination-bg: #000;
  --theme-terminal-pagination-bg-disabled: #0d372f;
  --theme-terminal-pagination-border: #0d372f;
  --theme-terminal-logo-left: #fff;
  --theme-terminal-logo-right: #dedede;
}
