/* flexboxによるレイアウト*/
/* syntax: --layout-[vertial]-[horizontal] */
/* syntax(column): --layout-column-[vertial]-[horizontal] */
:root {
  /* 上揃え & 左揃え */
  --layout-start-start: {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  /* 上揃え & 左右中央 */
  --layout-start-center: {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  /* 上揃え & 左右スペースを空けて目一杯に広げる */
  --layout-start-between: {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  /* 上揃え & 右揃え */
  --layout-start-end: {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  /* 天地中央 & 左揃え */
  --layout-center-start: {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  /* 天地中央 & 左右中央 */
  --layout-center-center: {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* 天地中央 & 左右スペースを空けて目一杯に広げる */
  --layout-center-between: {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* 天地中央 & 右揃え */
  --layout-center-end: {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* 天地いっぱいまで広げる & 左揃え */
  --layout-stretch-start: {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }

  /* 天地いっぱいまで広げる & 左右中央 */
  --layout-stretch-center: {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  /* 天地いっぱいまで広げる & 左右スペースを空けて目一杯に広げる */
  --layout-stretch-between: {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  /* 天地いっぱいまで広げる & 右揃え */
  --layout-stretch-end: {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }

  /* 下揃え & 左揃え */
  --layout-end-start: {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  /* 下揃え & 左右中央 */
  --layout-end-center: {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  /* 下揃え & 左右スペースを空けて目一杯に広げる */
  --layout-end-between: {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  /* 下揃え & 右揃え */
  --layout-end-end: {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  /* 縦方向*/
  /* 天地左右中央 */
  --layout-column-center-center: {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* 縦方向*/
  /* 天地中央 & 左右いっぱいまで広がる */
  --layout-column-center-stretch: {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}
