/* Non-themable pages like `/home` will apply default custom properties. */
:root {
  --color-primary-l: theme('colors.palette.pink.100');
  --color-secondary-l: theme('colors.palette.pink.100');
  --color-tertiary-l: theme('colors.palette.pink.100');
  --color-primary-d: theme('colors.palette.pink.900');
  --color-secondary-d: theme('colors.palette.pink.900');
  --color-tertiary-d: theme('colors.palette.pink.900');
}

/* Themable pages like `/endpoints/[endpointId]` will apply overwritten custom properties. */
#root[data-theme="relax"] {
  --color-primary-l: theme('colors.palette.green.100');
  --color-secondary-l: theme('colors.palette.green.100');
  --color-tertiary-l: theme('colors.palette.green.100');
  --color-primary-d: theme('colors.palette.green.900');
  --color-secondary-d: theme('colors.palette.green.900');
  --color-tertiary-d: theme('colors.palette.green.900');
};
#roo[data-theme="cool"] {
  --color-primary-l: theme('colors.palette.blue.100');
  --color-secondary-l: theme('colors.palette.blue.100');
  --color-tertiary-l: theme('colors.palette.blue.100');
  --color-primary-d: theme('colors.palette.blue.900');
  --color-secondary-d: theme('colors.palette.blue.900');
  --color-tertiary-d: theme('colors.palette.blue.900');
};

@tailwind base;
@tailwind components;
@tailwind utilities;
