/* TODO: cssルールに重複が無く最適に書き出されているかproductionモードで確認。 */
/* TODO: クリティカルcssを抽出できるか調べること。 */

/* Follow Google Material Design principles. */
/* @see: https://material.io/design/color/dark-theme.html */
/*
Value of "--color-[type]-[elevation]-['l'|'d']" is calcurated by spoiting a color of "--color-[type]-['l'|'d']" covered by white with transparency of one on the list below.
TODO: なんとかしてプログラムで値を算出したいが方法が見つからないので絶対値を入力している。

[Elevation level]: [White overlay transparency]
00dp: 0%
01dp: 5%
02dp: 7%
03dp: 8%
04dp: 9%
06dp: 11%
08dp: 12%
12dp: 14%
16dp: 15%
24dp: 16%
*/

/*
TODO: Tailwind JIT modeが正式リリースになったタイミングで以下の様に改修できるか調査すること。

<div className="bg-surface-l dark:bg-surface-d" />
ではなく、
<div className="bg-surface" />
@layer components {
  .bg-surface {
    @apply bg-surface-l dark:bg-surface-d;
  }
}
と定義したい。
*/

/* Non-themable pages like `/home` will apply default custom properties. */
:root {
  --color-primary-l: theme('colors.palette.pink.100');
  --color-secondary-l: theme('colors.palette.pink.100');
  --color-tertiary-l: theme('colors.palette.pink.100');

  --color-primary-d: theme('colors.palette.pink.900');
  --color-secondary-d: theme('colors.palette.pink.900');
  --color-tertiary-d: theme('colors.palette.pink.900');
}

/* Themable pages like `/endpoints/[endpointId]` will apply overwritten custom properties. */
#root[data-theme="lime"] {
  --color-background-d: #121212;
  --color-surface-d: #202411;
  --color-surface-00dp-d: #202411;
  --color-surface-01dp-d: #2B2E1C;
  --color-surface-02dp-d: #313423;
  --color-surface-03dp-d: #313423;
  --color-surface-04dp-d: #343826;
  --color-surface-06dp-d: #393C2B;
  --color-surface-08dp-d: #3A3E2D;
  --color-surface-12dp-d: #404333;
  --color-surface-16dp-d: #424635;
  --color-surface-24dp-d: #444737;
  --color-primary-d: theme('colors.palette.lime.A400');
  --color-primary-variant-d: theme('colors.palette.lime.A700');
  --color-secondary-d: theme('colors.palette.lime.A100');
  --color-secondary-variant-d: theme('colors.palette.lime.A200');
  --color-error-d: theme('colors.palette.red.A200');
  --color-on-background-d: #9F9F9F;
  --color-on-background-high-d: #DFDFDF;
  --color-on-background-medium-d: #9F9F9F;
  --color-on-background-disabled-d: #6C6C6C;
  --color-on-background-variant-d: #7D9F07;
  --color-on-background-variant-high-d: #ADDF02;
  --color-on-background-variant-medium-d: #7D9F07;
  --color-on-background-variant-disabled-d: #566C0B;
  --color-on-surface-d: #A5A69F;
  --color-on-surface-high-d: #E1E2DF;
  --color-on-surface-medium-d: #A5A69F;
  --color-on-surface-disabled-d: #75776C;
  --color-on-primary-d: #5A710A;
  --color-on-primary-high-d: #29310F;
  --color-on-primary-medium-d: #5A710A;
  --color-on-primary-disabled-d: #81A406;
  --color-on-primary-variant-d: #50680A;
  --color-on-primary-variant-high-d: #262E0F;
  --color-on-primary-variant-medium-d: #50680A;
  --color-on-primary-variant-disabled-d: #729706;
  --color-on-secondary-d: #6C713E;
  --color-on-secondary-high-d: #2F3120;
  --color-on-secondary-medium-d: #6C713E;
  --color-on-secondary-disabled-d: #9EA456;
  --color-on-secondary-variant-d: #6A7124;
  --color-on-secondary-variant-high-d: #2F3118;
  --color-on-secondary-variant-medium-d: #6A7124;
  --color-on-secondary-variant-disabled-d: #9AA42E;
  --color-on-error-d: #BD2944;
  --color-on-error-high-d: #B40E2B;
  --color-on-error-medium-d: #BD2944;
  --color-on-error-disabled-d: #C43F57;
};

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-00dp {
    @apply shadow-sm;
  };
  .shadow-01dp {
    @apply shadow;
  };
  .shadow-02dp {
    @apply shadow-md;
  };
  .shadow-03dp {
    @apply shadow-lg;
  };
  .shadow-04dp {
    @apply shadow-xl;
  };
  .shadow-06dp {
    @apply shadow-2xl;
  };
};
