/* TODO: cssルールに重複が無く最適に書き出されているかproductionモードで確認。 */
/* TODO: クリティカルcssを抽出できるか調べること。 */

body {
    --thm-primary: var(--thm-light-primary);
    --thm-on-primary: var(--thm-light-on-primary);
    --thm-on-primary-high: var(--thm-light-on-primary-high);
    --thm-on-primary-low: var(--thm-light-on-primary-low);
    --thm-on-primary-slight: var(--thm-light-on-primary-slight);
    --thm-on-primary-faint: var(--thm-light-on-primary-faint);
    --thm-primary-container: var(--thm-light-primary-container);
    --thm-on-primary-container: var(--thm-light-on-primary-container);
    --thm-on-primary-container-high: var(--thm-light-on-primary-container-high);
    --thm-on-primary-container-low: var(--thm-light-on-primary-container-low);
    --thm-on-primary-container-slight: var(--thm-light-on-primary-container-slight);
    --thm-on-primary-container-faint: var(--thm-light-on-primary-container-faint);
    --thm-secondary: var(--thm-light-secondary);
    --thm-on-secondary: var(--thm-light-on-secondary);
    --thm-on-secondary-high: var(--thm-light-on-secondary-high);
    --thm-on-secondary-low: var(--thm-light-on-secondary-low);
    --thm-on-secondary-slight: var(--thm-light-on-secondary-slight);
    --thm-on-secondary-faint: var(--thm-light-on-secondary-faint);
    --thm-secondary-container: var(--thm-light-secondary-container);
    --thm-on-secondary-container: var(--thm-light-on-secondary-container);
    --thm-on-secondary-container-high: var(--thm-light-on-secondary-container-high);
    --thm-on-secondary-container-low: var(--thm-light-on-secondary-container-low);
    --thm-on-secondary-container-slight: var(--thm-light-on-secondary-container-slight);
    --thm-on-secondary-container-faint: var(--thm-light-on-secondary-container-faint);
    --thm-tertiary: var(--thm-light-tertiary);
    --thm-on-tertiary: var(--thm-light-on-tertiary);
    --thm-on-tertiary-high: var(--thm-light-on-tertiary-high);
    --thm-on-tertiary-low: var(--thm-light-on-tertiary-low);
    --thm-on-tertiary-slight: var(--thm-light-on-tertiary-slight);
    --thm-on-tertiary-faint: var(--thm-light-on-tertiary-faint);
    --thm-tertiary-container: var(--thm-light-tertiary-container);
    --thm-on-tertiary-container: var(--thm-light-on-tertiary-container);
    --thm-on-tertiary-container-high: var(--thm-light-on-tertiary-container-high);
    --thm-on-tertiary-container-low: var(--thm-light-on-tertiary-container-low);
    --thm-on-tertiary-container-slight: var(--thm-light-on-tertiary-container-slight);
    --thm-on-tertiary-container-faint: var(--thm-light-on-tertiary-container-faint);
    --thm-error: var(--thm-light-error);
    --thm-on-error: var(--thm-light-on-error);
    --thm-on-error-high: var(--thm-light-on-error-high);
    --thm-on-error-low: var(--thm-light-on-error-low);
    --thm-on-error-slight: var(--thm-light-on-error-slight);
    --thm-on-error-faint: var(--thm-light-on-error-faint);
    --thm-error-container: var(--thm-light-error-container);
    --thm-on-error-container: var(--thm-light-on-error-container);
    --thm-on-error-container-high: var(--thm-light-on-error-container-high);
    --thm-on-error-container-low: var(--thm-light-on-error-container-low);
    --thm-on-error-container-slight: var(--thm-light-on-error-container-slight);
    --thm-on-error-container-faint: var(--thm-light-on-error-container-faint);
    --thm-background: var(--thm-light-background);
    --thm-on-background: var(--thm-light-on-background);
    --thm-on-background-high: var(--thm-light-on-background-high);
    --thm-on-background-low: var(--thm-light-on-background-low);
    --thm-on-background-slight: var(--thm-light-on-background-slight);
    --thm-on-background-faint: var(--thm-light-on-background-faint);
    --thm-surface: var(--thm-light-surface);
    --thm-on-surface: var(--thm-light-on-surface);
    --thm-on-surface-high: var(--thm-light-on-surface-high);
    --thm-on-surface-low: var(--thm-light-on-surface-low);
    --thm-on-surface-slight: var(--thm-light-on-surface-slight);
    --thm-on-surface-faint: var(--thm-light-on-surface-faint);
    --thm-surface-variant: var(--thm-light-surface-variant);
    --thm-on-surface-variant: var(--thm-light-on-surface-variant);
    --thm-on-surface-variant-high: var(--thm-light-on-surface-variant-high);
    --thm-on-surface-variant-low: var(--thm-light-on-surface-variant-low);
    --thm-on-surface-variant-slight: var(--thm-light-on-surface-variant-slight);
    --thm-on-surface-variant-faint: var(--thm-light-on-surface-variant-faint);
    --thm-outline: var(--thm-light-outline);
}

@media (prefers-color-scheme: dark) {
  body {
    --thm-primary: var(--thm-dark-primary);
    --thm-on-primary: var(--thm-dark-on-primary);
    --thm-on-primary-high: var(--thm-dark-on-primary-high);
    --thm-on-primary-low: var(--thm-dark-on-primary-low);
    --thm-on-primary-slight: var(--thm-dark-on-primary-slight);
    --thm-on-primary-faint: var(--thm-dark-on-primary-faint);
    --thm-primary-container: var(--thm-dark-primary-container);
    --thm-on-primary-container: var(--thm-dark-on-primary-container);
    --thm-on-primary-container-high: var(--thm-dark-on-primary-container-high);
    --thm-on-primary-container-low: var(--thm-dark-on-primary-container-low);
    --thm-on-primary-container-slight: var(--thm-dark-on-primary-container-slight);
    --thm-on-primary-container-faint: var(--thm-dark-on-primary-container-faint);
    --thm-secondary: var(--thm-dark-secondary);
    --thm-on-secondary: var(--thm-dark-on-secondary);
    --thm-on-secondary-high: var(--thm-dark-on-secondary-high);
    --thm-on-secondary-low: var(--thm-dark-on-secondary-low);
    --thm-on-secondary-slight: var(--thm-dark-on-secondary-slight);
    --thm-on-secondary-faint: var(--thm-dark-on-secondary-faint);
    --thm-secondary-container: var(--thm-dark-secondary-container);
    --thm-on-secondary-container: var(--thm-dark-on-secondary-container);
    --thm-on-secondary-container-high: var(--thm-dark-on-secondary-container-high);
    --thm-on-secondary-container-low: var(--thm-dark-on-secondary-container-low);
    --thm-on-secondary-container-slight: var(--thm-dark-on-secondary-container-slight);
    --thm-on-secondary-container-faint: var(--thm-dark-on-secondary-container-faint);
    --thm-tertiary: var(--thm-dark-tertiary);
    --thm-on-tertiary: var(--thm-dark-on-tertiary);
    --thm-on-tertiary-high: var(--thm-dark-on-tertiary-high);
    --thm-on-tertiary-low: var(--thm-dark-on-tertiary-low);
    --thm-on-tertiary-slight: var(--thm-dark-on-tertiary-slight);
    --thm-on-tertiary-faint: var(--thm-dark-on-tertiary-faint);
    --thm-tertiary-container: var(--thm-dark-tertiary-container);
    --thm-on-tertiary-container: var(--thm-dark-on-tertiary-container);
    --thm-on-tertiary-container-high: var(--thm-dark-on-tertiary-container-high);
    --thm-on-tertiary-container-low: var(--thm-dark-on-tertiary-container-low);
    --thm-on-tertiary-container-slight: var(--thm-dark-on-tertiary-container-slight);
    --thm-on-tertiary-container-faint: var(--thm-dark-on-tertiary-container-faint);
    --thm-error: var(--thm-dark-error);
    --thm-on-error: var(--thm-dark-on-error);
    --thm-on-error-high: var(--thm-dark-on-error-high);
    --thm-on-error-low: var(--thm-dark-on-error-low);
    --thm-on-error-slight: var(--thm-dark-on-error-slight);
    --thm-on-error-faint: var(--thm-dark-on-error-faint);
    --thm-error-container: var(--thm-dark-error-container);
    --thm-on-error-container: var(--thm-dark-on-error-container);
    --thm-on-error-container-high: var(--thm-dark-on-error-container-high);
    --thm-on-error-container-low: var(--thm-dark-on-error-container-low);
    --thm-on-error-container-slight: var(--thm-dark-on-error-container-slight);
    --thm-on-error-container-faint: var(--thm-dark-on-error-container-faint);
    --thm-background: var(--thm-dark-background);
    --thm-on-background: var(--thm-dark-on-background);
    --thm-on-background-high: var(--thm-dark-on-background-high);
    --thm-on-background-low: var(--thm-dark-on-background-low);
    --thm-on-background-slight: var(--thm-dark-on-background-slight);
    --thm-on-background-faint: var(--thm-dark-on-background-faint);
    --thm-surface: var(--thm-dark-surface);
    --thm-on-surface: var(--thm-dark-on-surface);
    --thm-on-surface-high: var(--thm-dark-on-surface-high);
    --thm-on-surface-low: var(--thm-dark-on-surface-low);
    --thm-on-surface-slight: var(--thm-dark-on-surface-slight);
    --thm-on-surface-faint: var(--thm-dark-on-surface-faint);
    --thm-surface-variant: var(--thm-dark-surface-variant);
    --thm-on-surface-variant: var(--thm-dark-on-surface-variant);
    --thm-on-surface-variant-high: var(--thm-dark-on-surface-variant-high);
    --thm-on-surface-variant-low: var(--thm-dark-on-surface-variant-low);
    --thm-on-surface-variant-slight: var(--thm-dark-on-surface-variant-slight);
    --thm-on-surface-variant-faint: var(--thm-dark-on-surface-variant-faint);
    --thm-outline: var(--thm-dark-outline);
  }
}

body {
  color: var(--thm-on-background);
  background-color: var(--thm-background);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-00dp {
    box-shadow: none;
  }
  .shadow-01dp {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
  }
  .shadow-02dp {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  }
  .shadow-03dp {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
  }
  .shadow-04dp {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
  }
  .shadow-05dp {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
  }
  .drop-shadow-00dp {
    filter: none;
  }
  .drop-shadow-01dp {
    filter: drop-shadow(0 1px 0px rgba(0,0,0,0.2)) drop-shadow(0 1px 1px rgba(0,0,0,0.14)) drop-shadow(0 1px 3px rgba(0,0,0,0.12));
  }
  .drop-shadow-02dp {
    filter: drop-shadow(0 1px 0px rgba(0,0,0,0.2)) drop-shadow(0 2px 2px rgba(0,0,0,0.14)) drop-shadow(0 1px 4px rgba(0,0,0,0.12));
  }
  .drop-shadow-03dp {
    filter: drop-shadow(0 1px 1px rgba(0,0,0,0.2)) drop-shadow(0 3px 3px rgba(0,0,0,0.14)) drop-shadow(0 1px 2px rgba(0,0,0,0.12));
  }
  .drop-shadow-04dp {
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.1)) drop-shadow(0 4px 3px rgba(0,0,0,0.14)) drop-shadow(0 1px 3px rgba(0,0,0,0.12));
  }
  .drop-shadow-05dp {
    filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2)) drop-shadow(0 5px 8px rgba(0,0,0,0.14)) drop-shadow(0 1px 6px rgba(0,0,0,0.12));
  }
};
