.Application_Menu_Group {
  display: block;

  &__head {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-blue);
    }
    height: 64px;
    padding: 0 16px 0 32px;
    cursor: pointer;
  }

  &__name {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 1.6rem;
  }

  &__arrow {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    transition-duration: 100ms;
    transition-property: transform;
  }

  &__page {
    @mixin hover {
      color: var(--color-base-blue);
    }
    padding: 16px 16px 16px 32px;
    font-size: 1.4rem;
    cursor: pointer;
  }

  &--open {
    .Application_Menu_Group__arrow {
      transform: rotate(180deg);
    }
  }
}
