.Application_Header_Menu_Import {
  display: block;

  &__title {
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: bold;
  }

  &__description {
    margin-bottom: 12px;
  }

  &__error {
    margin-bottom: 12px;
    color: var(--color-base-red);
  }

  &__control {
  }
}
