.Application_Toasts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  pointer-events: none;

  & .Toast {
    position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
    height: 64px;
    pointer-events: auto;
    transition-duration: 500ms;
    transition-property: top, opacity;

    &--visible {
      top: 0;
    }
  }
}
