.Application_Poster {
  position: relative;
  display: block;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg_menu.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--theme-poster-overlay);
  }

  &__content {
    position: relative;
    padding: 24px;
    font-size: 1.6rem;
    color: var(--color-base-red);
  }

  &__logo {
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
  }

  &__label {
    color: var(--theme-poster-label);
  }
}
