.Application_Header {
  @apply --layout-center-between;
  padding: 0 24px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e8e8e7;

  &__aside {
    & .Icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    & .IconSquare {
      margin-right: 48px;
    }
  }
}
