:root {
  --component-application-menu-width: 192px;
  --component-application-header-height: 64px;
}

.Application {
  position: relative;
  display: block;
  height: 100%;

  &__container {
    display: grid;
    height: 100%;
    transition-duration: 300ms;
    transition-property: grid-template-columns;
    grid-template-areas: "aside header" "aside main";
    /* minmaxを使わないと正しく高さが計算されないbug有り。(safari) */
    grid-template-rows: var(--component-application-header-height) minmax(0, 1fr);
    grid-template-columns: var(--component-application-menu-width) minmax(0, 1fr);
  }

  &__aside {
    @apply --layout-stretch-center;
    grid-area: aside;
  }

  &__asideAdjuster {
    flex-grow: 1;
    overflow: hidden;
  }

  &__asideContent {
    width: var(--component-application-menu-width);
    height: 100%;

    & .Application_Menu,
    & .Application_Poster {
      height: 100%;
    }
  }

  &__header {
    @apply --layout-stretch-center;
    grid-area: header;

    & .Application_Header {
      flex-grow: 1;
    }
  }

  &__main {
    padding: 24px;
    overflow-y: scroll;
    grid-area: main;
  }

  &__pageInfo {
    margin-bottom: 24px;
    font-size: 2.8rem;
    font-weight: bold;
  }

  &--desktop&--asideClosed {
    .Application__container {
      grid-template-columns: 0 minmax(0, 1fr);
    }
  }

  &--mobile {
    & .Application__container {
      grid-template-areas: "header" "main";
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
