.Application_Menu {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--color-base-white);

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg_menu.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    @apply --layout-column-center-stretch;
    position: relative;
    height: 100%;
  }

  &__head {
    @apply --layout-center-start;
    flex-shrink: 0;
    height: 64px;
    padding: 0 16px;
  }

  &__arrow {
    width: 8px;
    height: 8px;
    margin-right: 16px;
    color: var(--color-base-red);
  }

  &__logo {
    @mixin hover {
      color: var(--color-base-blue);
    }
    width: 24px;
    height: 24px;
    color: var(--color-base-red);
    cursor: pointer;
  }

  &__body {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &__sectionName {
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__groups .Application_Menu_Group {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &:last-child {
      border-bottom: none;
    }
  }

  &--desktop {
    & .Application_Menu_Group {
      color: var(--color-base-white);
    }
  }

  &--mobile {
    & .Application_Menu__bg {
      display: none;
    }
  }
}
