:root {
  --component-application-menu-width: 192px;
  --component-application-header-height: 64px;
}

.Application {
  position: relative;
  display: block;
  height: 100%;
  color: var(--theme-app-text);
  background-color: var(--theme-app-bg);

  &__container {
    display: grid;
    height: 100%;
    transition-duration: 300ms;
    transition-property: grid-template-columns;
    grid-template-areas: "aside header" "aside main";
    /* minmaxを使わないと正しく高さが計算されないbug有り。(safari) */
    grid-template-rows: var(--component-application-header-height) minmax(0, 1fr);
    grid-template-columns: var(--component-application-menu-width) minmax(0, 1fr);
  }

  & &__container {
    z-index: 1;
  }

  & .Application_Drawers {
    z-index: 2;
  }

  & .Application_Modals {
    z-index: 3;
  }

  & .Application_Mediapreviews {
    z-index: 4;
  }

  & .Application_Popovers {
    z-index: 5;
  }

  & .Application_Toasts {
    z-index: 6;
  }

  & .Application_ProgressLinear {
    z-index: 7;
  }

  & .Application_Dimmer {
    z-index: 8;
  }

  & .Application_Blocker {
    z-index: 9;
  }

  & .Application_Splash {
    z-index: 10;
  }

  &__aside {
    @apply --layout-stretch-center;
    grid-area: aside;
  }

  &__asideAdjuster {
    /* for Safari bug */
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  &__asideContent {
    /* for Safari bug */
    position: absolute;
    top: 0;
    left: 0;
    width: var(--component-application-menu-width);
    height: 100%;

    & .Application_Menu,
    & .Application_Poster {
      height: 100%;
    }
  }

  &__header {
    @apply --layout-stretch-center;
    grid-area: header;

    & .Application_Header {
      flex-grow: 1;
    }
  }

  &__main {
    padding: 0 24px 24px;
    overflow-y: scroll;
    grid-area: main;
  }

  &__page {
    /* Chromeのバグ対応 DnDすると要素の横幅が0になる.. */
    min-height: 101%;
    /* Safariのposition:stickyバグ対応 */
    padding-top: 24px;
  }

  &--desktop&--asideClosed {
    .Application__container {
      grid-template-columns: 0 minmax(0, 1fr);
    }
  }

  &--mobile {
    & .Application__container {
      grid-template-areas: "header" "main";
      grid-template-columns: minmax(0, 1fr);
    }
  }

  /* theme関連 */
  &--standard {
    --theme-app-text: var(--theme-standard-app-text);
    --theme-app-bg: var(--theme-standard-app-bg);
    --theme-poster-overlay: var(--theme-standard-poster-overlay);
    --theme-poster-label: var(--theme-standard-poster-label);
    --theme-menu-logo: var(--theme-standard-menu-logo);
    --theme-menu-text: var(--theme-standard-menu-text);
    --theme-menu-arrow: var(--theme-standard-menu-arrow);
    --theme-menu-overlay: var(--theme-standard-menu-overlay);
    --theme-header-bg: var(--theme-standard-header-bg);
    --theme-orderButton-bg: var(--theme-standard-orderButton-bg);
    --theme-endpointCard-bg: var(--theme-standard-endpointCard-bg);
    --theme-endpointCard-border: var(--theme-standard-endpointCard-border);
    --theme-endpointPlus-border: var(--theme-standard-endpointPlus-border);
    --theme-popover-bg: var(--theme-standard-popover-bg);
    --theme-tag-text: var(--theme-standard-tag-text);
    --theme-tag-bg: var(--theme-standard-tag-bg);
    --theme-componentCard-bg: var(--theme-standard-componentCard-bg);
    --theme-componentCard-border: var(--theme-standard-componentCard-border);
    --theme-componentCardTable-bg: var(--theme-standard-componentCardTable-bg);
    --theme-componentCardTable-grad-start: var(--theme-standard-componentCardTable-grad-start);
    --theme-componentCardTable-grad-end: var(--theme-standard-componentCardTable-grad-end);
    --theme-componentCardTable-row-border: var(--theme-standard-componentCardTable-row-border);
    --theme-componentCardTable-cell-hover: var(--theme-standard-componentCardTable-cell-hover);
    --theme-pagination-bg: var(--theme-standard-pagination-bg);
    --theme-pagination-bg-disabled: var(--theme-standard-pagination-bg-disabled);
    --theme-pagination-border: var(--theme-standard-pagination-border);
    --theme-logo-left: var(--theme-standard-logo-left);
    --theme-logo-right: var(--theme-standard-logo-right);
  }

  &--midnight {
    --theme-app-text: var(--theme-midnight-app-text);
    --theme-app-bg: var(--theme-midnight-app-bg);
    --theme-poster-overlay: var(--theme-midnight-poster-overlay);
    --theme-poster-label: var(--theme-midnight-poster-label);
    --theme-menu-logo: var(--theme-midnight-menu-logo);
    --theme-menu-text: var(--theme-midnight-menu-text);
    --theme-menu-arrow: var(--theme-midnight-menu-arrow);
    --theme-menu-overlay: var(--theme-midnight-menu-overlay);
    --theme-header-bg: var(--theme-midnight-header-bg);
    --theme-orderButton-bg: var(--theme-midnight-orderButton-bg);
    --theme-endpointCard-bg: var(--theme-midnight-endpointCard-bg);
    --theme-endpointCard-border: var(--theme-midnight-endpointCard-border);
    --theme-endpointPlus-border: var(--theme-midnight-endpointPlus-border);
    --theme-popover-bg: var(--theme-midnight-popover-bg);
    --theme-tag-text: var(--theme-midnight-tag-text);
    --theme-tag-bg: var(--theme-midnight-tag-bg);
    --theme-componentCard-bg: var(--theme-midnight-componentCard-bg);
    --theme-componentCard-border: var(--theme-midnight-componentCard-border);
    --theme-componentCardTable-bg: var(--theme-midnight-componentCardTable-bg);
    --theme-componentCardTable-grad-start: var(--theme-midnight-componentCardTable-grad-start);
    --theme-componentCardTable-grad-end: var(--theme-midnight-componentCardTable-grad-end);
    --theme-componentCardTable-row-border: var(--theme-midnight-componentCardTable-row-border);
    --theme-componentCardTable-cell-hover: var(--theme-midnight-componentCardTable-cell-hover);
    --theme-pagination-bg: var(--theme-midnight-pagination-bg);
    --theme-pagination-bg-disabled: var(--theme-midnight-pagination-bg-disabled);
    --theme-pagination-border: var(--theme-midnight-pagination-border);
    --theme-logo-left: var(--theme-midnight-logo-left);
    --theme-logo-right: var(--theme-midnight-logo-right);
  }

  &--terminal {
    --theme-app-text: var(--theme-terminal-app-text);
    --theme-app-bg: var(--theme-terminal-app-bg);
    --theme-poster-overlay: var(--theme-terminal-poster-overlay);
    --theme-poster-label: var(--theme-terminal-poster-label);
    --theme-menu-logo: var(--theme-terminal-menu-logo);
    --theme-menu-text: var(--theme-terminal-menu-text);
    --theme-menu-arrow: var(--theme-terminal-menu-arrow);
    --theme-menu-overlay: var(--theme-terminal-menu-overlay);
    --theme-header-bg: var(--theme-terminal-header-bg);
    --theme-orderButton-bg: var(--theme-terminal-orderButton-bg);
    --theme-endpointCard-bg: var(--theme-terminal-endpointCard-bg);
    --theme-endpointCard-border: var(--theme-terminal-endpointCard-border);
    --theme-endpointPlus-border: var(--theme-terminal-endpointPlus-border);
    --theme-popover-bg: var(--theme-terminal-popover-bg);
    --theme-tag-text: var(--theme-terminal-tag-text);
    --theme-tag-bg: var(--theme-terminal-tag-bg);
    --theme-componentCard-bg: var(--theme-terminal-componentCard-bg);
    --theme-componentCard-border: var(--theme-terminal-componentCard-border);
    --theme-componentCardTable-bg: var(--theme-terminal-componentCardTable-bg);
    --theme-componentCardTable-grad-start: var(--theme-terminal-componentCardTable-grad-start);
    --theme-componentCardTable-grad-end: var(--theme-terminal-componentCardTable-grad-end);
    --theme-componentCardTable-row-border: var(--theme-terminal-componentCardTable-row-border);
    --theme-componentCardTable-cell-hover: var(--theme-terminal-componentCardTable-cell-hover);
    --theme-pagination-bg: var(--theme-terminal-pagination-bg);
    --theme-pagination-bg-disabled: var(--theme-terminal-pagination-bg-disabled);
    --theme-pagination-border: var(--theme-terminal-pagination-border);
    --theme-logo-left: var(--theme-terminal-logo-left);
    --theme-logo-right: var(--theme-terminal-logo-right);
  }
}
