.Application_Menu_Group {
  display: block;
  color: var(--theme-menu-text);

  &__head {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-blue);
    }
    height: 64px;
    padding: 0 16px 0 32px;
    cursor: pointer;
  }

  &__name {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 1.6rem;
  }

  &__arrow {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    transition-duration: 100ms;
    transition-property: transform;
  }

  &__pages {
    overflow: hidden;
    transition-duration: 300ms;
    transition-property: height, opacity;
  }

  &__page {
    @apply --layout-center-start;

    @mixin hover {
      color: var(--color-base-blue);
    }
    height: 50px;
    padding-left: 32px;
    font-size: 1.4rem;
    cursor: pointer;
  }

  &--open {
    .Application_Menu_Group__arrow {
      transform: rotate(180deg);
    }

    .Application_Menu_Group__pages {
      margin-bottom: 16px;
      opacity: 1;
    }
  }
}
