.Application_Menu {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--color-base-white);

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg_menu.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--theme-menu-overlay);
  }

  &__content {
    @apply --layout-column-center-stretch;
    position: relative;
    height: 100%;
    padding-top: 16px;
  }

  &__head {
    @apply --layout-center-start;
    flex-shrink: 0;
    height: 64px;
    padding: 0 16px;
  }

  &__homeButton {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-blue);
    }
    cursor: pointer;
  }

  &__arrow {
    width: 8px;
    height: 8px;
    margin-right: 16px;
    color: var(--theme-menu-arrow);
  }

  &__logo {
    width: 32px;
    height: 32px;
    color: var(--theme-menu-logo);
  }

  &__body {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &__sectionName {
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  &__groups .Application_Menu_Group {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

    &:last-child {
      border-bottom: none;
    }
  }

  &--mobile {
    padding-top: 44px;
  }
}
