.Application_Header {
  @apply --layout-stretch-between;
  background-color: var(--theme-header-bg);

  &__item {
    @apply --layout-center-center;

    & > .Icon {
      @mixin hover {
        color: var(--color-base-blue);
      }
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    & > .IconLogo {
      width: 32px;
      height: 32px;
      margin-left: 24px;
    }

    &--tail {
      padding-right: 24px;
    }
  }

  &__menuIcon.Icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
  }

  &__thumbnail {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
  }

  &__info,
  &__squareIcon {
    margin-right: 48px;
  }

  &__info {
    @apply --layout-center-center;

    @mixin hover {
      opacity: 0.5;
    }
    cursor: pointer;
  }

  &__color {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    background-color: #c092f5;
    border-radius: 50%;

    &--purple {
      background-color: #c092f5;
    }

    &--blue {
      background-color: #61c8ff;
    }

    &--green {
      background-color: #7cd6ab;
    }

    &--yellow {
      background-color: #ffc96b;
    }

    &--red {
      background-color: #f57177;
    }

    &--gray {
      background-color: #cbcfd4;
    }

    &--black {
      background-color: #484848;
    }

    &--white {
      background-color: #fff;
      border: 2px solid var(--color-base-gray);
    }
  }

  &__name {
    margin-right: 8px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__arrow {
    width: 8px;
    height: 8px;
    margin-right: 8px;
  }
}
