.Autocomplete {
  display: inline-block;
}

.Autocomplete__label {
  padding-left: 8px;
  margin-bottom: 4px;
  font-size: 12px;
  border-left: 2px solid var(--color-bg-primary);
}

.Autocomplete__input {
  display: block;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background-color: var(--color-bg-base);
  border: 1px solid var(--color-basic-gray);
  border-radius: 3px;
}

.Autocomplete--disabled .Textinput__input {
  cursor: not-allowed;
  opacity: 0.5;
}
