.Button {
  @apply --layout-center-center;
  height: 48px;
  cursor: pointer;
  border-radius: 24px;

  &--disabled {
    cursor: not-allowed;
  }

  &__label {
    font-size: 1.6rem;
  }

  &--primary {
    @mixin hover {
      background-color: var(--color-base-blue-secondary);
    }
    background-color: var(--color-base-blue);

    &.Button--disabled {
      background-color: var(--color-base-blue-secondary);
    }

    & .Button__label {
      color: var(--color-base-white);
    }
  }

  &--secondary {
    @mixin hover {
      background-color: var(--color-base-red-secondary);
    }
    background-color: var(--color-base-red);

    &.Button--disabled {
      background-color: var(--color-base-red-secondary);
    }

    & .Button__label {
      color: var(--color-base-white);
    }
  }

  &--ghost {
    @mixin hover {
      border-color: var(--color-base-black-secondary);

      & .Button__label {
        color: var(--color-base-black-secondary);
      }
    }
    border: 2px solid var(--color-base-black);

    &.Button--disabled {
      border-color: var(--color-base-black-secondary);

      & .Button__label {
        color: var(--color-base-black-secondary);
      }
    }
  }
}
