.Checkbox {
  position: relative;
  display: block;
  color: var(--color-base-black);

  &__content {
    @apply --layout-center-start;
    cursor: pointer;
  }

  &__mark {
    @apply --layout-center-center;
    width: 16px;
    height: 16px;
    background-color: var(--color-base-white);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;
    transition-duration: 100ms;
    transition-property: background-color;

    & .Icon {
      width: 12px;
      height: 12px;
      color: var(--color-base-white);
      opacity: 0;
      transition-duration: 100ms;
      transition-property: opacity, transform;
      transform: scale(0);
    }
  }

  &__label {
    margin-left: 8px;
    font-size: 1.4rem;
  }

  &__description {
    display: inline;
    margin-left: 8px;
    font-size: 1rem;
    color: var(--color-base-gray);
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--checked {
    & .Checkbox__mark {
      background-color: var(--color-base-black);

      & .Icon {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &--preview {
    & .Checkbox__mark {
      background-color: #f4f4f4;
      border-color: #f4f4f4;

      & .Icon {
        color: var(--color-base-gray-secondary);
      }
    }

    & .Checkbox__label {
      color: var(--color-base-gray-secondary);
    }
  }

  &--error {
    & .Checkbox__mark {
      background-color: var(--color-base-red-tertiary);
      border-color: var(--color-base-red);
    }
  }

  &--disabled {
    opacity: 0.5;

    & .Checkbox__content {
      cursor: not-allowed;
    }
  }

  &--ghost {
    color: var(--color-base-white);

    & .Checkbox__mark {
      background-color: transparent;

      & .Icon {
        color: var(--color-base-black);
      }
    }

    &.Checkbox--checked {
      & .Checkbox__mark {
        background-color: var(--color-base-blue);
        border: none;
      }
    }

    &.Checkbox--error {
      & .Checkbox__mark {
        border-color: var(--color-base-red);

        & .Icon {
          color: var(--color-base-gray);
        }
      }
    }
  }
}
