.Drawer {
  display: block;
  color: var(--color-base-black);
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 200ms;
  transition-property: background-color;

  &__frame {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - var(--component-application-menu-width));
    height: 100%;
    background-color: var(--color-base-white);
    opacity: 0;
    transition-duration: 200ms;
    transition-property: transform, opacity;
    transform: translateX(100px);
  }

  &__contentWrapper {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  &--visible {
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.2);

    & .Drawer__frame {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &--hidden {
    background-color: rgba(0, 0, 0, 0);

    & .Drawer__frame {
      opacity: 0;
    }
  }

  &--narrow {
    & .Drawer__frame {
      width: 384px;
    }
  }

  &--wide,
  &--mobile {
    & .Drawer__frame {
      width: 100%;
    }
  }
}
