.Error {
  display: block;
  min-width: 240px;

  &__icon {
    @apply --layout-center-center;
    width: 64px;
    height: 64px;
    margin: 0 auto 32px;
    color: var(--color-base-red);
    border: 4px solid var(--color-base-red);
    border-radius: 50%;

    & .Icon {
      width: 42px;
      height: 42px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
  }

  &__message {
    margin-bottom: 24px;
    font-size: 1.6rem;
    white-space: pre-wrap;
  }

  & > .Prettyprint {
    padding: 8px;
    border: 1px solid var(--color-base-gray);
    border-radius: 4px;
  }
}
