:root {
  --component-explorer-column-min-count: 1;
}

.Explorer {
  position: relative;
  display: block;

  &__head {
    @apply --layout-center-center;
    padding: 24px;
  }

  &__title {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 1.6rem;
  }

  &__control {
    @apply --layout-center-start;

    & .Icon {
      @mixin hover {
        color: var(--color-base-blue);
      }
      width: 16px;
      height: 16px;
      margin-right: 24px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__body {
  }

  &__progressWrapper {
    @apply --layout-center-center;
    height: 100px;
  }

  &__progress {
    @apply --animation-spin;
    transform-origin: center center;

    & .Icon {
      width: 24px;
      height: 24px;
    }
  }

  &__label {
    padding: 0 24px 4px;
    margin-bottom: 24px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--color-base-gray-tertiary);
  }

  &__droparea {
    @mixin hover {
      border-color: var(--color-base-blue);
    }

    @apply --layout-column-center-center;
    position: relative;
    height: 192px;
    padding: 12px;
    margin: 0 24px 24px;
    cursor: pointer;
    background-color: rgba(72, 72, 72, 0.03);
    border: 2px dashed var(--color-base-gray-secondary);
    border-radius: 6px;

    &--active {
      border-color: var(--color-base-blue);
    }

    &--mini {
      height: 80px;
    }
  }

  &__dragHandler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__input {
    display: none;
  }

  &__dropareaLabel {
    position: relative;
    margin-bottom: 24px;
    font-size: 1.6rem;
    color: var(--color-base-gray-secondary);
  }

  &__dropareaButton {
    @mixin hover {
      opacity: 0.5;
    }
    position: relative;
    color: var(--color-base-blue);
    text-decoration: underline;
    cursor: pointer;
  }

  &__list {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(var(--component-explorer-column-min-count), 1fr);
    grid-auto-rows: auto;
  }

  &__item {
    @mixin hover {
      opacity: 0.8;
    }
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &::before {
      position: relative;
      display: block;
      padding-top: 100%;
      content: "";
    }
  }

  &__error {
    color: var(--color-base-gray);
  }

  &__tail {
    flex-shrink: 0;
    padding-bottom: 24px;
    margin: 24px 24px 0;
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
