.Jsonviewer {

  & > &__item {
    display: block
  }

  &__item {
    // display: none;
    padding-left: 20px;
    margin-top: 10px;
    user-select: none;

    &--collapsible {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      display: inline;

      &::before {
        position: absolute;
        left: 5px;
        content: "+";
        color: black;
      }
    }
  }
}
