.List {
  display: block;

  &__body {
    overflow: hidden;
  }

  &__itemsWrapper {
    position: relative;
    transition-duration: 300ms;
    transition-property: top;
  }

  &__item {
    @apply --layout-center-start;

    @mixin hover {
      color: var(--color-base-blue);
    }
    height: 50px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
  }

  & &__item:last-child {
    border-bottom: none;
  }

  &__icon {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    margin-right: 12px;
  }

  &__label {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 1.4rem;
  }
}
