.Mediapreview {
  @apply --layout-center-center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 200ms;
  transition-property: background-color;

  &__frame {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: var(--color-base-white);
    opacity: 0;
    transition-property: opacity;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &__path {
    @apply --text-truncate;
    position: absolute;
    right: 0;
    bottom: -16px;
    width: 100%;
    color: var(--color-base-gray);
    text-align: right;
  }

  &__closeButton {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-gray);
    }
    position: absolute;
    top: -24px;
    left: -24px;
    width: 24px;
    height: 24px;
    color: var(--color-base-white);
    cursor: pointer;

    & .Icon {
      width: 13px;
      height: 13px;
    }
  }

  &--visible {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.8);

    & .Mediapreview__frame {
      opacity: 1;
    }
  }

  &--hidden {
    background-color: rgba(0, 0, 0, 0);

    & .Mediapreview__frame {
      opacity: 0;
      transition-duration: 200ms;
    }
  }
}
