.Modal {
  @apply --layout-center-center;
  color: var(--color-base-black);
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 200ms;
  transition-property: background-color;

  &__frame {
    position: relative;
    padding: 64px;
    overflow-y: scroll;
    background-color: var(--color-base-white);
    opacity: 0;
    transition-property: transform, opacity;
  }

  &__closeButton {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-gray);
    }
    position: sticky;
    top: 0;
    left: 0;
    /* z-index使いたくないけど仕方なく */
    z-index: 1;
    width: 13px;
    height: 0;
    cursor: pointer;

    & .Icon {
      position: absolute;
      width: 13px;
      height: 13px;
    }
  }

  &--visible {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.4);

    & .Modal__frame {
      opacity: 1;
    }
  }

  &--hidden {
    background-color: rgba(0, 0, 0, 0);

    & .Modal__frame {
      opacity: 0;
      transition-duration: 200ms;
    }
  }

  &--desktop {
    & .Modal__frame {
      width: 450px;
      min-height: 100px;
      max-height: 80%;
      border-radius: 8px;
    }

    & .Modal__closeButton {
      & .Icon {
        top: -32px;
        left: -32px;
      }
    }

    &.Modal--spread {
      & .Modal__frame {
        padding: 0;
      }

      & .Modal__closeButton {
        & .Icon {
          top: 26px;
          left: 26px;
        }
      }
    }
  }

  &--desktop&--wide {
    & .Modal__frame {
      width: auto;
    }
  }

  &--mobile {
    & .Modal__frame {
      width: 100%;
      height: 100%;
      padding: 64px 32px 32px;
    }

    & .Modal__closeButton {
      & .Icon {
        top: -38px;
        left: 0;
      }
    }

    &.Modal--spread {
      & .Modal__frame {
        padding: 0;
      }

      & .Modal__closeButton {
        & .Icon {
          top: 26px;
          left: 12px;
        }
      }
    }
  }
}
