.Modal {
  @apply --layout-center-center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: background-color;

  &__frame {
    position: relative;
    padding: 64px;
    overflow-y: scroll;
    background-color: var(--color-base-white);
    opacity: 0;
    transition-duration: 300ms;
    transition-property: transform, opacity;
    transform: scale(0.8);
  }

  &__closeButton {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-gray);
    }
    position: sticky;
    top: 0;
    left: 0;
    /* z-index使いたくないけど仕方なく */
    z-index: 1;
    width: 16px;
    height: 0;
    cursor: pointer;

    & .Icon {
      position: absolute;
      top: -32px;
      left: -32px;
      width: 16px;
      height: 16px;
    }
  }

  &--visible {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.4);

    & .Modal__frame {
      opacity: 1;
      transform: scale(1);
    }
  }

  &--spread {
    & .Modal__frame {
      padding: 0;
    }

    & .Modal__closeButton {
      & .Icon {
        top: 26px;
        left: 26px;
      }
    }
  }

  &--desktop {
    & .Modal__frame {
      min-width: 300px;
      max-width: 80%;
      min-height: 100px;
      max-height: 80%;
      border-radius: 8px;
    }
  }

  &--mobile {
    & .Modal__frame {
      width: 100%;
      height: 100%;
      padding: 64px 12px 12px;
    }

    &.Modal--spread .Modal__frame {
      padding: 0;
    }
  }
}
