.Pagination {
  display: block;

  &__control {
    @apply --layout-center-center;

    & .Pagination__button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button {
    @apply --layout-center-center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: var(--color-base-white);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;

    & .Icon {
      width: 10px;
      height: 10px;
    }

    &--selected,
    &:hover&:not(&--disabled),
    &.hold&:not(&--disabled) {
      color: var(--color-base-white);
      background-color: var(--color-base-blue);
      border-color: var(--color-base-blue);
    }

    &--disabled {
      color: var(--color-base-gray);
      cursor: not-allowed;
      background-color: var(--color-base-gray-tertiary);
      border-color: var(--color-base-gray);
    }

    &--moderate {
      background-color: transparent;
      border-color: transparent;

      & .Pagination__dotsIcon {
        display: flex;
      }

      & .Pagination__arrowIcon {
        display: none;
      }

      &:hover,
      &.hold {
        & .Pagination__dotsIcon {
          display: none;
        }

        & .Pagination__arrowIcon {
          display: flex;
        }
      }
    }
  }
}
