.Pagination {
  display: block;
  color: var(--theme-app-text);

  &__control {
    @apply --layout-center-center;

    & .Pagination__button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button {
    @apply --layout-center-center;

    @mixin hover &:not(&--disabled) {
      color: var(--color-base-white);
      background-color: var(--color-base-blue);
      border-color: var(--color-base-blue);
    }
    min-width: 24px;
    height: 24px;
    padding: 0 4px;
    cursor: pointer;
    background-color: var(--theme-pagination-bg);
    border: 1px solid var(--theme-pagination-border);
    border-radius: 2px;

    & .Icon {
      width: 10px;
      height: 10px;
    }

    &--selected {
      color: var(--color-base-white);
      background-color: var(--color-base-blue);
      border-color: var(--color-base-blue);
    }

    &--disabled {
      color: var(--color-base-gray);
      cursor: not-allowed;
      background-color: var(--theme-pagination-bg-disabled);
      border-color: var(--theme-pagination-bg-disabled);
    }

    &--moderate {
      @mixin hover {
        & .Pagination__dotsIcon {
          display: none;
        }

        & .Pagination__arrowIcon {
          display: flex;
        }
      }
      background-color: transparent;
      border-color: transparent;

      & .Pagination__dotsIcon {
        display: flex;
      }

      & .Pagination__arrowIcon {
        display: none;
      }
    }
  }
}
