.Parameters_Items {
  display: block;

  &__head {
    @apply --layout-center-start;
    position: relative;
  }

  &__addButton {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-blue);

      & .Icon {
        color: var(--color-base-white);
      }
    }
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 18px;
    cursor: pointer;
    background-color: var(--color-base-white);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    & .Icon {
      width: 16px;
      height: 16px;
      color: var(--color-base-blue);
    }
  }

  &__headContent {
    flex-grow: 1;
  }

  &__label {
    @apply --text-truncate;
    font-size: 16px;
  }

  &--preview &__label {
    color: var(--color-base-black-secondary);
  }

  &__error {
    @apply --text-truncate;
    margin-top: 4px;
    color: var(--color-base-red);
  }

  &__openButton {
    @mixin hover {
      color: var(--color-base-blue);
    }
    flex-shrink: 0;
    font-size: 14px;
    cursor: pointer;
  }

  &__body {
    margin-top: 24px;
  }

  &__item {
    position: relative;
    padding: 12px 24px;
    background-color: var(--color-base-gray-tertiary);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;

    & > .Parameters_Items__itemDetail {
      display: none;
    }

    & > .Parameters_Items__itemBrief {
      display: block;
    }

    &--opened > .Parameters_Items__itemDetail {
      display: block;
    }

    &--opened > .Parameters_Items__itemBrief {
      display: none;
    }
  }

  &--ghost &__item {
    background-color: transparent;
  }

  &__body > .Parameters_Items__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__itemBrief {
    @mixin hover {
      color: var(--color-base-blue);
    }
    position: relative;
    cursor: pointer;
  }

  &__itemBriefTitle {
    @apply --text-truncate;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &--preview &__itemBriefTitle {
    color: var(--color-base-black-secondary);
  }

  &__itemBriefDescription {
    @apply --text-truncate;
    font-size: 1.4rem;
    color: var(--color-base-gray);
  }

  &__itemBriefOpenButton {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-blue);
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;

    & .Icon {
      width: 16px;
      height: 16px;
    }
  }

  &__itemHead {
    @apply --layout-center-between;
    flex-direction: row-reverse;
    margin-bottom: 24px;
  }

  &__itemTail {
    @apply --layout-center-between;
    margin-top: 24px;
  }

  &__removeButton {
    @mixin hover {
      color: var(--color-base-blue);
    }
    font-size: 1.4rem;
    cursor: pointer;
  }

  &__closeButton {
    @apply --layout-center-between;

    @mixin hover {
      color: var(--color-base-blue);
    }
    cursor: pointer;

    & .Icon {
      width: 16px;
      height: 16px;
    }
  }

  &__itemMoveUp,
  &__itemMoveDown {
    @mixin hover {
      color: var(--color-base-blue);
      opacity: 1;
    }

    @apply --layout-center-center;
    position: absolute;
    left: -5px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    opacity: 0.5;
  }

  &__itemMoveUp {
    top: 5px;
  }

  &__itemMoveDown {
    bottom: 5px;
  }
}
