.Parameters_Form {
  display: block;

  &__head {
    @apply --layout-center-start;
    margin-bottom: 8px;
  }

  &__title {
    @apply --text-truncate;
    font-size: 1.2rem;

    &--required {
      color: var(--color-base-red);
    }
  }

  &--preview &__title {
    color: var(--color-base-black-secondary);
  }

  &__description {
    flex-shrink: 0;
    margin-left: 8px;
    color: var(--color-base-gray);
  }

  &__now,
  &__today {
    @mixin hover {
      color: var(--color-base-blue);
    }
    margin-left: 8px;
    color: var(--color-base-gray);
    cursor: pointer;
  }

  &__timepickerTextinput .Textinput__input {
    /* TODO: 一時的に非公開にしているだけ*/
    /*padding-right: 36px;*/
  }

  &__timepicker {
    @mixin hover {
      color: var(--color-base-blue);
    }
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 0;
    /* TODO: 一時的に非公開にしているだけ*/
    display: none;
    width: 12px;
    height: 12px;
    margin: auto;
    margin-left: 8px;
    color: var(--color-base-gray);
    text-decoration: underline;
    cursor: pointer;
  }

  &__error {
    margin-bottom: 4px;
    color: var(--color-base-red);
  }

  &__body {
    position: relative;
  }
}
