.Parameters {
  display: block;
  padding: 8px;
  border: 1px solid var(--color-basic-lightGray);
  border-radius: 4px;
}

.Parameters > .Parameter {
  margin-bottom: 8px;
}

.Parameters > .Parameter:last-child {
  margin-bottom: 0;
}
