.ParameterForm {
  display: block;
}

.ParameterForm__body .Textinput,
.ParameterForm__body .Textarea,
.ParameterForm__body .Select,
.ParameterForm__body .Autocomplete {
  display: block;
}

.ParameterForm__body .Numberinput {
  width: 150px;
}
