.Parameters_Form {
  display: block;

  &__head {
    @apply --layout-center-start;
    margin-bottom: 8px;
  }

  &__title {
    @apply --text-truncate;
    font-size: 1.2rem;
  }

  &--preview &__title {
    color: var(--color-base-black-secondary);
  }

  &__description {
    flex-shrink: 0;
    margin-left: 8px;
    color: var(--color-base-gray);
  }

  &__timepicker {
    @mixin hover {
      color: var(--color-base-blue);
    }
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    color: var(--color-base-gray);
    text-decoration: underline;
    cursor: pointer;
  }

  &__error {
    margin-bottom: 4px;
    color: var(--color-base-red);
  }

  &__body {
    position: relative;
  }
}
