.Parameters_Form {
  display: block;

  &__head {
    @apply --layout-center-start;
    margin-bottom: 8px;
  }

  &__title {
    @apply --text-truncate;
    font-size: 1.2rem;
  }

  &--preview &__title {
    color: var(--color-base-black-secondary);
  }

  &__description {
    flex-shrink: 0;
    margin-left: 8px;
    color: var(--color-base-gray);
  }

  &__error {
    margin-bottom: 4px;
    color: var(--color-base-red);
  }

  &__body {
    position: relative;
  }
}
