.Parameters {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(134px, 1fr));
  grid-auto-rows: auto;

  & .Parameters_Parameter--spreadSmall {
    grid-column-end: span 1;
  }

  & .Parameters_Parameter--spreadMedium {
    grid-column-end: span 2;
  }

  & .Parameters_Parameter--spreadLarge {
    grid-column-end: span 3;
  }

  &--narrow .Parameters_Parameter--spreadLarge {
    grid-column-end: span 2;
  }

  & .Parameters_Parameter--spreadFull {
    grid-column: 1 / -1;
  }

  &--narrow .Parameters_Parameter--spreadFull {
    grid-column-end: span 2;
  }
}
