.ParameterProperties {
  display: block;
}

.ParameterProperties__body > .ParameterProperty {
  margin-bottom: 8px;
}

.ParameterProperties__body > .ParameterProperty:last-child {
  margin-bottom: 0;
}
