.Parameters_Items {
  display: block;

  &__head {
    @apply --layout-center-start;
    position: relative;
  }

  &__error {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
  }

  &__addButton {
    @apply --layout-center-center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 18px;
    cursor: pointer;
    background-color: var(--color-base-white);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    & .Icon {
      width: 16px;
      height: 16px;
      color: var(--color-base-blue);
    }

    &:hover,
    &.hold {
      background-color: var(--color-base-blue);

      & .Icon {
        color: var(--color-base-white);
      }
    }
  }

  &__label {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 16px;
  }

  &__openButton {
    flex-shrink: 0;
    font-size: 14px;
    cursor: pointer;

    &:hover,
    &.hold {
      color: var(--color-base-blue);
    }
  }

  &__body {
    margin-top: 24px;
  }

  &__item {
    padding: 24px;
    background-color: var(--color-base-gray-tertiary);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;

    & > .Parameters_Items__itemDetail {
      display: none;
    }

    & > .Parameters_Items__itemBrief {
      display: block;
      cursor: pointer;
    }

    &--opened > .Parameters_Items__itemDetail {
      display: block;
    }

    &--opened > .Parameters_Items__itemBrief {
      display: none;
    }
  }

  &__body > .Parameters_Items__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__itemHead {
    @apply --layout-center-start;
    display: none;
    margin-bottom: 24px;
  }

  &__itemTail {
    @apply --layout-center-between;
    margin-top: 24px;
  }

  &__removeButton {
    font-size: 1.4rem;
    cursor: pointer;

    &:hover,
    &.hold {
      color: var(--color-base-blue);
    }
  }

  &__closeButton {
    @apply --layout-center-between;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover,
    &.hold {
      color: var(--color-base-blue);
    }

    & .Icon {
      width: 16px;
      height: 16px;
    }
  }

  &__closeButtonLabel {
    margin-right: 8px;
  }
}
