.Parameter {
  display: block;
  padding: 8px;
  border: 1px solid var(--color-basic-lightGray);
  border-radius: 4px;
}

.Parameter__head {
  background-color: var(--color-basic-lightGray);
  padding: 8px;
  margin-bottom: 8px;
}
