.PopoverSpread {
  @apply --layout-center-center;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 200ms;
  transition-property: background-color;

  &__frame {
    position: relative;
    width: 100%;
    max-height: 80%;
    overflow-y: scroll;
    background-color: var(--theme-popover-bg);
    border-radius: 8px;
    opacity: 0;
    transition-property: opacity;
  }

  &--visible {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.4);

    & .PopoverSpread__frame {
      opacity: 1;
    }
  }

  &--hidden {
    background-color: rgba(0, 0, 0, 0);

    & .PopoverSpread__frame {
      opacity: 0;
      transition-duration: 200ms;
    }
  }
}
