.PrettyPrint {
  display: block;
}

.PrettyPrint__pre {
  @apply --text-break;
  white-space: pre-wrap;
}

.PrettyPrint__string {
  color: green;
}

.PrettyPrint__number {
  color: darkorange;
}

.PrettyPrint__boolean {
  color: blue;
}

.PrettyPrint__null {
  color: magenta;
}

.PrettyPrint__key {
  color: red;
}
