.Progress {
  @apply --layout-center-center;
  width: 48px;
  height: 48px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
}

.Progress__spinner {
  @apply --layout-center-center;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #fff;
}

.Progress__spinner .Icon {
  @apply --animation-spin;
}
