.ProgressCircular {
  display: block;
}

.ProgressCircular__spinner {
  @apply --layout-center-center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-base-codGray);
}

.ProgressCircular__spinner .Icon {
  @apply --animation-spin;
}
