.Pug {
  position: relative;
  display: block;

  &__tabs {
    @apply --layout-center-start;
  }

  &__tab {
    @mixin hover {
      color: var(--color-base-blue);
    }
    margin-right: 8px;
    cursor: pointer;

    &--selected {
      color: var(--color-base-blue);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__preview {
    padding: 14px 18px;
    background-color: var(--color-base-white);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}
