.Radio {
  display: inline-block;
  cursor: pointer;
}

.Radio--disabled {
  cursor: not-allowed;
}

.Radio__content {
  @apply --layout-center-center;
}

.Radio__mark {
  @apply --layout-center-center;
  width: 18px;
  height: 18px;
  background-color: var(--color-basic-white);
  border: 1px solid var(--color-basic-gray);
  border-radius: 50%;
  transition-duration: 100ms;
  transition-property: background-color, border-color;
}

.Radio--disabled .Radio__mark {
  background-color: var(--color-basic-lightGray);
}

.Radio--selected:not(.Radio--disabled) .Radio__mark {
  border-color: var(--color-basic-skyblue);
}

.Radio__ball {
  width: 10px;
  height: 10px;
  background-color: var(--color-basic-skyblue);
  border-radius: 50%;
  transition-duration: 100ms;
  transition-property: transform, background-color;
  transform: scale(0);
}

.Radio--selected .Radio__ball {
  transform: scale(1);
}

.Radio--disabled .Radio__ball {
  background-color: var(--color-basic-gray);
}

.Radio__label {
  flex-grow: 1;
  margin-left: 4px;
  color: var(--color-basic-black);
}

.Radio--disabled .Radio__label {
  color: var(--color-basic-gray);
}
