.Select {
  position: relative;
  display: block;

  &__form {
    @mixin hover {
      border-color: var(--color-base-blue);
    }
    position: relative;
    background-color: var(--color-base-white);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;

    &:focus {
      border-color: var(--color-base-blue);
    }
  }

  &__select {
    @apply --layout-center-center;
    width: 100%;
    height: 100%;
    padding: 8px 34px 8px 18px;
    font-size: 1.8rem;
    color: currentColor;
    cursor: pointer;
  }

  &--small &__select {
    padding: 4px 16px 4px 4px;
    font-size: 1rem;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 18px;
    bottom: 0;
    width: 16px;
    height: 16px;
    margin: auto;
    pointer-events: none;
  }

  &--small &__icon {
    right: 4px;
    width: 8px;
    height: 8px;
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  &--error {
    & .Select__form {
      background-color: var(--color-base-red-tertiary);
      border-color: var(--color-base-red);
    }
  }

  &--preview {
    & .Select__form {
      background-color: #f4f4f4;
      border-color: #f4f4f4;
    }

    & .Select__select {
      color: var(--color-base-gray-secondary);
    }
  }

  &--disabled {
    & .Select__form {
      background-color: var(--color-base-gray-tertiary);
      border-color: var(--color-base-gray);
    }

    & .Select__select {
      cursor: not-allowed;
    }
  }

  &--ghost {
    & .Select__form {
      background-color: transparent;
      border: 1px solid rgba(149, 152, 154, 0.3);
    }
  }
}
