.Textarea {
  display: inline-block;
}

.Textarea__label {
  font-size: 12px;
  padding-left: 8px;
  border-left: 2px solid var(--color-bg-primary);
  margin-bottom: 4px;
}

.Textarea__input {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  resize: vertical;
  background-color: var(--color-basic-white);
  border: 1px solid var(--color-basic-gray);
  border-radius: 3px;
}
