.Textarea {
  position: relative;
  display: block;

  &__label {
    margin-bottom: 4px;
    font-size: 1.2rem;
  }

  &__input {
    @mixin hover {
      border-color: var(--color-base-blue);
    }
    display: block;
    width: 100%;
    padding: 14px 18px;
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;

    &:focus {
      border-color: var(--color-base-blue);
    }

    &::placeholder {
      color: var(--color-base-gray);
    }

    &--break {
      word-break: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  &--error {
    & .Textarea__input {
      background-color: var(--color-base-red-tertiary);
      border-color: var(--color-base-red);
    }
  }

  &--preview {
    & .Textarea__input {
      color: var(--color-base-black-secondary);
      background-color: #f4f4f4;
      border-color: #f4f4f4;
    }
  }

  &--disabled {
    & .Textarea__input {
      color: var(--color-base-gray-secondary);
      cursor: not-allowed;
      background-color: var(--color-base-gray-tertiary);
      border-color: var(--color-base-gray);
    }
  }
}
