.Textinput {
  position: relative;
  display: block;
  color: var(--color-base-black);

  &__label {
    margin-bottom: 4px;
    font-size: 1.2rem;
  }

  &__input {
    @mixin hover {
      border-color: var(--color-base-blue);
    }
    display: block;
    width: 100%;
    padding: 8px 18px;
    font-size: 1.8rem;
    background-color: var(--color-base-white);
    border: 1px solid rgba(149, 152, 154, 0.3);
    border-radius: 2px;

    &:focus {
      border-color: var(--color-base-blue);
    }

    &::placeholder {
      color: var(--color-base-gray);
    }
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  &--error {
    & .Textinput__input {
      background-color: var(--color-base-red-tertiary);
      border-color: var(--color-base-red);
    }
  }

  &--preview {
    & .Textinput__input {
      color: var(--color-base-black-secondary);
      background-color: #f4f4f4;
      border-color: #f4f4f4;
    }
  }

  &--disabled {
    & .Textinput__input {
      color: var(--color-base-gray-secondary);
      cursor: not-allowed;
      background-color: var(--color-base-gray-tertiary);
      border-color: var(--color-base-gray);
    }
  }

  &--ghost {
    color: var(--color-base-white);

    & .Textinput__input {
      color: var(--color-base-white);
      background-color: transparent;
    }
  }
}
