.Textinput {
  display: inline-block;
}

.Textinput__input {
  width: 100%;
  display: block;
  font-size: 18px;
  padding: 14px;
  background-color: var(--color-basic-white);
  border: 1px solid var(--color-basic-gray);
  border-radius: 3px;
}
