.Timepicker {
  display: block;

  &__debug {
    @apply --layout-center-center;
    color: var(--color-base-gray);
  }

  &__content {
    @apply --layout-stretch-center;
  }

  &__contentLeft {
    flex: 1 0 0;
    width: 200px;
    margin-right: 8px;
  }

  &__calendar {
  }

  &__calendarHead {
    @apply --layout-center-center;
  }

  &__calendarPrev,
  &__calendarNext {
    @mixin hover {
      color: var(--color-base-blue);
    }
    cursor: pointer;

    & .Icon {
      width: 12px;
      height: 12px;
    }
  }

  &__calendarYearMonth {
    @apply --layout-center-center;
    flex: 1 0 0;
    margin: 0 10px;
  }

  &__calendarWeek {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(7, 1fr);
  }

  &__calendarWeekDay {
    @apply --layout-center-center;
  }

  &__calendarDates {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(7, minmax(2rem, 1fr));
    grid-auto-rows: 24px;
  }

  &__calendarDate {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-gray-secondary);
    }
    cursor: pointer;

    &--blur {
      color: var(--color-base-gray);
    }
  }

  &__contentRight {
    flex: 1 0 0;
    width: 200px;
  }

  &__hmst {
    @apply --layout-stretch-center;
    max-height: 300px;
  }

  &__hmst &__hmstList {
    flex: 1 0 0;
    margin-right: 4px;
    overflow: scroll;

    &:last-child {
      margin-right: 0;
    }
  }

  &__hmstItem {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-gray-secondary);
    }
    padding: 4px 0;
    cursor: pointer;
  }
}
