.Toasts {
  position: relative;
  display: block;
  overflow: hidden;
  pointer-events: none;
}

.Toasts .Toast {
  position: absolute;
  top: -58px;
  left: 0;
  width: 100%;
  min-height: 58px;
  pointer-events: auto;
  transition-duration: 300ms;
  transition-property: top, opacity;
}

.Toasts .Toast--visible {
  top: 0;
}
