.Toast {
  @apply --layout-center-center;
  height: 64px;
  padding: 0 32px;
  cursor: pointer;
  background-color: var(--color-base-blue);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity;

  &__message {
    @apply --text-truncate;
    font-size: 1.6rem;
    color: var(--color-base-white);
  }

  &--visible {
    opacity: 1;
  }

  &--error {
    background-color: var(--color-base-red);
  }
}
