.Uploader {
  position: relative;
  display: block;
  width: 128px;
  height: 128px;

  &__form {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__input {
    display: none;
  }

  &__label {
    @mixin hover {
      border-color: var(--color-base-blue);

      & .Uploader__icon {
        color: var(--color-base-blue);
      }
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    cursor: pointer;
    background-color: var(--color-base-gray-tertiary);
    border: 1px solid var(--color-base-gray);
    border-radius: 2px;
  }

  &__icon {
    @apply --layout-center-center;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: var(--color-base-gray);

    & .Icon {
      width: 64px;
      height: 64px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-color: var(--color-base-black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__dragHandler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__reset {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-gray);
    }
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    color: var(--color-base-white);
    cursor: pointer;
    background-color: var(--color-base-black);
    border-radius: 50%;

    & .Icon {
      width: 12px;
      height: 12px;
    }
  }

  &__fileName {
    margin-top: 4px;
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--dragWatching {
    & .Uploader__label {
      border-color: var(--color-base-blue);
    }

    & .Uploader__icon {
      color: var(--color-base-blue);
    }
  }

  &--error {
    & .Uploader__label {
      border-color: var(--color-base-red);
    }

    & .Uploader__icon {
      color: var(--color-base-red);
    }
  }

  &--disabled {
    & .Uploader__label {
      cursor: not-allowed;
    }
  }
}
