.Wyswyg {
  position: relative;
  display: block;

  &__form {
    display: block;
  }

  &--preview &__form {
    padding: 10px;
    overflow: scroll;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
  }
}
