.Wyswyg {
  position: relative;
  display: block;

  &__form {
    display: block;
  }

  &__form ol {
    list-style: decimal;
    padding: 8px 18px;
  }

  &__form ul {
    list-style: disc;
    padding: 8px 18px;
  }

  &--preview &__form {
    padding: 10px;
    overflow: scroll;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
  }
}
