doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Automated design-based management console.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="Cache-Control" content="no-cache")
    title Viron - Automated design-based management console
    link(rel="stylesheet" href=`./css/app.min.css?_=${version}`)
    <!-- Froala WYSWYG Editor -->
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/css/froala_style.min.css" rel="stylesheet" type="text/css")

  body
    viron
    script(src=`./js/swagger-client.js?_=${version}`)
    <!-- Froala WYSWYG Editor -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/js/froala_editor.pkgd.min.js")
    script(src="https://pugjs.org/js/pug.js")
    script(src=`./js/app.js?_=${version}`)
