doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Automated design-based management console.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="Cache-Control" content="no-cache")
    title Viron - Automated design-based management console
    <!-- Froala WYSWYG Editor -->
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css" rel="stylesheet")
    link(href="./froala/css/froala_editor.min.css" rel="stylesheet")
    link(href="./froala/css/froala_style.min.css" rel="stylesheet")
    link(href="./froala/css/plugins/fullscreen.min.css" rel="stylesheet")
    link(href="./froala/css/plugins/code_view.min.css" rel="stylesheet")
    link(href="./froala/css/plugins/help.min.css" rel="stylesheet")
    link(href="./froala/css/plugins/image.min.css" rel="stylesheet")
    link(href="./froala/css/plugins/colors.min.css" rel="stylesheet")
    link(href="./froala/css/plugins/table.min.css" rel="stylesheet")
    <!-- main -->
    link(rel="stylesheet" href=`./css/app.min.css?_=${version}`)

  body
    viron
    script(src=`./js/swagger-client.js?_=${version}`)
    script(src="https://pugjs.org/js/pug.js")
    <!-- Froala WYSWYG Editor -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js")
    script(src="./froala/js/froala_editor.min.js")
    script(src="./froala/js/languages/ja.js")
    script(src="./froala/js/plugins/fullscreen.min.js")
    script(src="./froala/js/plugins/code_view.min.js")
    script(src="./froala/js/plugins/help.min.js")
    script(src="./froala/js/plugins/link.min.js")
    script(src="./froala/js/plugins/image.min.js")
    script(src="./froala/js/plugins/font_family.min.js")
    script(src="./froala/js/plugins/font_size.min.js")
    script(src="./froala/js/plugins/colors.min.js")
    script(src="./froala/js/plugins/paragraph_format.min.js")
    script(src="./froala/js/plugins/align.min.js")
    script(src="./froala/js/plugins/lists.min.js")
    script(src="./froala/js/plugins/quote.min.js")
    script(src="./froala/js/plugins/table.min.js")
    <!-- main -->
    script(src=`./js/app.js?_=${version}`)
