.ComponentsPage_Card_Table_Cell {
  padding: 24px;

  &__string {
    @apply --text-truncate;

    @mixin hover {
      color: var(--color-base-gray);
    }
    display: inline-block;
    font-size: 1.4rem;
    cursor: pointer;
  }

  &__image {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &__video {
  }
}
