.ComponentsPage_Card_Table {
  @apply --layout-column-center-stretch;
  position: relative;

  &__head {
    @apply --layout-center-between;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-shrink: 0;
    padding: 24px;
    background-color: var(--color-base-white);
  }

  &__headAside {
    @apply --layout-center-start;
  }

  &__postOperation {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-white);

      & .Icon {
        color: var(--color-base-blue);
      }
    }
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
    background-color: var(--color-base-blue);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    & .Icon {
      width: 16px;
      height: 16px;
      color: var(--color-base-white);
    }
  }

  &__title {
    font-size: 1.6rem;
  }

  &__control {
    @apply --layout-center-start;

    & .Icon {
      @mixin hover {
        color: var(--color-base-blue);
      }
      width: 16px;
      height: 16px;
      margin-right: 24px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__searchIcon,
  &__filterIcon {
    &--active {
      color: var(--color-base-blue);
    }
  }

  &__body {
    position: relative;
    flex-grow: 1;
    width: 100%;
    overflow: scroll;
  }

  &__progressWrapper {
    @apply --layout-center-center;
    height: 120px;
  }

  &__progress {
    @apply --animation-spin;
    transform-origin: center center;

    & .Icon {
      width: 24px;
      height: 24px;
    }
  }

  &__errorWrapper {
    @apply --layout-center-center;
    padding: 24px;
  }

  &__error {
    color: var(--color-base-red);
  }

  &__tableWrapper {
    /* Safariバグへの対応 */
    width: 0;
  }

  &__table {
  }

  &__th {
    @apply --text-truncate;
    padding: 0 24px;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-base-gray);
    text-align: left;
    border-bottom: 1px solid var(--color-base-gray-tertiary);

    &--sticky {
      position: sticky;
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }
  }

  &__tbodyRow {
    @mixin hover {
      background-color: var(--color-base-gray-tertiary);
    }
    cursor: pointer;
    border-bottom: 1px solid var(--color-base-gray-tertiary);
  }

  &__td {
    & .Icon {
      @mixin hover {
        color: var(--color-base-blue);
      }
      width: 16px;
      height: 16px;
      margin: 0 auto;
      cursor: pointer;
    }

    &--sticky {
      position: sticky;
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }
  }

  &__tbody tr td:first-child {
    font-weight: bold;
  }

  &__tail {
    flex-shrink: 0;
    padding: 24px;
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
