:root {
  --page-components-grid-row-height: 144px;
  --page-components-grid-gap: 24px;
}

.ComponentsPage {
  display: block;

  &__head {
    @apply --layout-center-start;
  }

  &--desktop &__head {
    margin-bottom: 24px;
  }

  &--mobile &__head {
    margin-bottom: 8px;
  }

  &__name {
    @apply --text-truncate;
    flex-grow: 1;
    font-weight: bold;
  }

  &--desktop &__name {
    font-size: 2.8rem;
  }

  &--mobile &__name {
    font-size: 1.4rem;
  }

  &__control {
    @apply --layout-center-center;
    flex-shrink: 0;
  }

  &__crossSearch {
    @apply --layout-center-center;

    @mixin hover {
      color: var(--color-base-blue);
    }
    cursor: pointer;

    &--active {
      color: var(--color-base-blue);
    }

    & .Icon {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }

  &__container {
    display: grid;
    grid-gap: var(--page-components-grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(312px, auto));
    grid-auto-rows: auto;
  }

  & .ComponentsPage_Card {
    &--columnSpreadSmall {
      grid-column-end: span 1;
    }

    &--columnSpreadFull {
      grid-column: 1 / -1;
    }

    &--rowSpreadSmall {
      height: var(--page-components-grid-row-height);
    }

    &--rowSpreadMedium {
      height: calc((var(--page-components-grid-row-height) * 2) + var(--page-components-grid-gap));
    }

    &--rowSpreadLarge {
      height: auto;
    }
  }
}
