.ComponentsPage_Card_Table_Cell {
  @apply --text-truncate;
  max-width: 300px;
  padding: 24px;

  &__string {
    display: inline-block;
    font-size: 1.4rem;
  }

  &__image {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &__video {
  }
}
