.ComponentsPage_Card_Table_Cell {
  @apply --text-truncate;
  max-width: 300px;
  padding: 24px;

  &__string {
    display: inline-block;
    font-size: 1.4rem;

    &--emphasised {
      font-style: italic;
      font-weight: bold;
      color: var(--color-base-red);
      text-shadow: 0 0 4px rgba(255, 0, 0, 0.25);
    }
  }

  &__image {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &__video {
  }
}
