.ComponentsPage_Card {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: var(--theme-componentCard-bg);
  border: 1px solid var(--theme-componentCard-border);
  border-radius: 6px;
}
