.ComponentsPage_Card_Number {
  @apply --layout-column-center-stretch;
  position: relative;
  height: 100%;
  padding: 24px;

  &__head {
    @apply --layout-center-center;
    flex-shrink: 0;
    margin-bottom: 4px;
  }

  &__title {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 1.6rem;
  }

  &__body {
    @apply --layout-center-center;
    flex-grow: 1;
  }

  &__progress {
    @apply --animation-spin;
    transform-origin: center center;

    & .Icon {
      width: 24px;
      height: 24px;
    }
  }

  &__valueWrapper {
    @apply --layout-end-center;
    flex-grow: 1;
    overflow: hidden;
  }

  &__value {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: right;
  }

  &__unit {
    font-size: 2rem;
    font-weight: bold;
  }

  &__error {
    color: var(--color-base-gray);
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
