.ComponentsPage_Card_Table {
  @apply --layout-column-center-stretch;
  position: relative;

  &__head {
    @apply --layout-center-between;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-shrink: 0;
    padding: 24px;
    background-color: var(--theme-componentCardTable-bg);
  }

  &__headAside {
    @apply --layout-center-start;
    overflow: hidden;
  }

  &__postOperation {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-white);

      & .Icon {
        color: var(--color-base-blue);
      }
    }
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
    background-color: var(--color-base-blue);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    & .Icon {
      width: 16px;
      height: 16px;
      color: var(--color-base-white);
    }
  }

  &__title {
    @apply --text-truncate;
    font-size: 1.6rem;
  }

  &__control {
    @apply --layout-center-start;

    & .Icon {
      @mixin hover {
        color: var(--color-base-blue);
      }
      width: 16px;
      height: 16px;
      margin-right: 24px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__searchIcon,
  &__filterIcon {
    &--active {
      color: var(--color-base-blue);
    }
  }

  &__body {
    position: relative;
    flex-grow: 1;
    width: 100%;
    overflow: scroll;
  }

  &__progressWrapper {
    @apply --layout-center-center;
    height: 120px;
  }

  &__progress {
    @apply --animation-spin;
    transform-origin: center center;

    & .Icon {
      width: 24px;
      height: 24px;
    }
  }

  &__errorWrapper {
    @apply --layout-center-center;
    padding: 24px;
  }

  &__error {
    color: var(--color-base-gray);
  }

  &__table {
  }

  &__th {
    color: var(--color-base-gray);
    border-bottom: 1px solid var(--theme-componentCardTable-row-border);

    &--sticky {
      position: sticky;
      right: 0;
      width: 28px;
      padding-left: 32px;
      text-align: center;
      background: linear-gradient(to right, var(--theme-componentCardTable-grad-start) 0%, var(--theme-componentCardTable-grad-end) 20%, var(--theme-componentCardTable-grad-end) 100%);
    }
  }

  &__th--sortable {
    @mixin hover {
      color: var(--color-base-blue);
    }
    cursor: pointer;
  }

  &__thInner {
    @apply --layout-center-start;
    padding: 8px 24px;
  }

  &__thInnerCtrl {
    @apply --layout-column-center-center;
    margin-right: 4px;
  }

  &__thIcon {
    width: 8px;
    height: 8px;

    &--active {
      color: var(--color-base-blue);
    }
  }

  &__thInnerLabel {
    @apply --text-truncate;
    flex: 1 0 0;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
  }

  &__tbodyRow {
    @mixin hover {
      background-color: var(--theme-componentCardTable-cell-hover);
    }
    cursor: pointer;
    border-bottom: 1px solid var(--theme-componentCardTable-row-border);
  }

  &__tbody &__tbodyRow {
    &:last-child {
      border-bottom: none;
    }
  }

  &__td {
    & .Icon {
      @mixin hover {
        color: var(--color-base-blue);
      }
      width: 16px;
      height: 16px;
      margin-right: 26px;
      margin-left: auto;
      cursor: pointer;
    }

    &--sticky {
      position: sticky;
      right: 0;
      background: linear-gradient(to right, var(--theme-componentCardTable-grad-start) 0%, var(--theme-componentCardTable-grad-end) 20%, var(--theme-componentCardTable-grad-end) 100%);
    }
  }

  &__tbody tr td:first-child {
    font-weight: bold;
  }

  &__tail {
    flex-shrink: 0;
    padding: 24px;
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
