:root {
  --page-components-grid-row-height: 144px;
  --page-components-grid-gap: 24px;
}

.ComponentsPage {
  display: block;

  &__head {
    @apply --layout-center-start;
    margin-bottom: 24px;
  }

  &__name {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 2.8rem;
    font-weight: bold;
  }

  &__control {
    @apply --layout-center-center;
    flex-shrink: 0;
  }

  &__refresh,
  &__crossSearch {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-blue);

      & .Icon {
        color: var(--color-base-white);
      }
    }
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--theme-orderButton-bg);
    border-radius: 50%;

    &--active {
      background-color: var(--color-base-blue);

      & .Icon {
        color: var(--color-base-white);
      }
    }

    & .Icon {
      width: 16px;
      height: 16px;
    }
  }

  &__crossSearch {
    margin-left: 8px;
  }

  &__container {
    display: grid;
    grid-gap: var(--page-components-grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(272px, auto));
    grid-auto-rows: auto;
  }

  & .ComponentsPage_Card {
    &--columnSpreadSmall {
      grid-column-end: span 1;
    }

    &--columnSpreadFull {
      grid-column: 1 / -1;
    }

    &--rowSpreadSmall {
      height: var(--page-components-grid-row-height);
    }

    &--rowSpreadMedium {
      height: calc((var(--page-components-grid-row-height) * 2) + var(--page-components-grid-gap));
    }

    &--rowSpreadLarge {
      height: auto;
    }
  }
}
