.ComponentsPage_Card_Table {
  @apply --layout-column-center-stretch;
  position: relative;
  height: 100%;

  &__head {
    @apply --layout-center-between;
    flex-shrink: 0;
    padding: 24px;
  }

  &__headAside {
    @apply --layout-center-start;
  }

  &__postOperation {
    @apply --layout-center-center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
    background-color: var(--color-base-blue);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    & .Icon {
      width: 16px;
      height: 16px;
      color: var(--color-base-white);
    }

    &:hover,
    &.hold {
      background-color: var(--color-base-white);

      & .Icon {
        color: var(--color-base-blue);
      }
    }
  }

  &__title {
    font-size: 1.6rem;
  }

  &__control {
    @apply --layout-center-start;

    & .Icon {
      width: 16px;
      height: 16px;
      margin-right: 24px;
      cursor: pointer;

      &:hover,
      &.hold {
        color: var(--color-base-blue);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__searchIcon,
  &__filterIcon {
    &--active {
      color: var(--color-base-blue);
    }
  }

  &__body {
    position: relative;
    flex-grow: 1;
  }

  &__progressWrapper {
    @apply --layout-center-center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__progress {
    @apply --animation-spin;
    transform-origin: center center;

    & .Icon {
      width: 24px;
      height: 24px;
    }
  }

  &__errorWrapper {
    @apply --layout-center-center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 24px;
  }

  &__error {
    color: var(--color-base-red);
  }

  &__tableWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
  }

  &__table {
  }

  &__th {
    @apply --text-truncate;
    padding: 0 24px;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-base-gray);
    text-align: left;
    border-bottom: 1px solid var(--color-base-gray-tertiary);
  }

  &__tbodyRow {
    cursor: pointer;
    border-bottom: 1px solid var(--color-base-gray-tertiary);

    &:hover,
    &.hold {
      background-color: var(--color-base-gray-tertiary);
    }
  }

  &__td {
    & .Icon {
      width: 16px;
      height: 16px;
      cursor: pointer;

      &:hover,
      &.hold {
        color: var(--color-base-blue);
      }
    }
  }

  &__tbody tr td:first-child {
    font-weight: bold;
  }

  &__tail {
    flex-shrink: 0;
    padding: 24px;
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
