.ComponentsPage_Operation {
  @apply --layout-column-center-stretch;
  height: 100%;

  &__head {
    position: relative;
    flex-shrink: 0;
  }

  &--desktop &__head {
    padding: 76px 64px 18px;
  }

  &--mobile &__head {
    padding: 22px 104px 18px 18px;
  }

  &__title {
    @apply --text-truncate;
    font-weight: bold;
  }

  &--desktop &__title {
    font-size: 2.8rem;
  }

  &--mobile &__title {
    font-size: 1.6rem;
  }

  &__cancel {
    @mixin hover {
      color: var(--color-base-blue);
    }
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
  }

  &__body {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &--desktop &__body {
    padding: 0 64px 64px;
  }

  &--mobile &__body {
    padding: 0 16px 16px;
  }

  &__tail {
    flex-shrink: 0;
  }

  &__submit {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-blue-secondary);
    }
    height: 64px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-base-white);
    cursor: pointer;
    background-color: var(--color-base-blue);

    &--disabled {
      cursor: not-allowed;
      background-color: var(--color-base-blue-secondary);
    }

    &--disabled.&--emphasised {
      background-color: var(--color-base-red-secondary);
    }

    &--emphasised:not(&--disabled) {
      @mixin hover {
        background-color: var(--color-base-red-secondary);
      }
      background-color: var(--color-base-red);
    }
  }
}
