.ComponentsPage_Card_Chart {
  @apply --layout-column-center-stretch;
  position: relative;
  height: 100%;
  padding: 24px;

  &__head {
    @apply --layout-center-center;
    flex-shrink: 0;
    margin-bottom: 4px;
  }

  &__title {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 1.6rem;
  }

  &__body {
    @apply --layout-center-center;
    flex-grow: 1;
    height: 100%;
  }

  &__progress {
    @apply --animation-spin;
    transform-origin: center center;

    & .Icon {
      width: 24px;
      height: 24px;
    }
  }

  &__canvas {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

  &__error {
    color: var(--color-base-gray);
  }

  &__blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  & .highcharts-pane {
    fill: transparent;
    stroke-width: 0;
  }
}
