:root {
  --page-components-grid-row-height: 144px;
  --page-components-grid-gap: 24px;
}

.ComponentsPage {
  display: block;

  &__name {
    font-weight: bold;
  }

  &--desktop &__name {
    margin-bottom: 24px;
    font-size: 2.8rem;
  }

  &--mobile &__name {
    margin-bottom: 8px;
    font-size: 1.4rem;
  }

  &__container {
    display: grid;
    grid-gap: var(--page-components-grid-gap);
    grid-template-columns: repeat(auto-fill, 312px);
    grid-auto-rows: auto;
    justify-content: center;
  }

  & .ComponentsPage_Card {
    &--columnSpreadSmall {
      grid-column-end: span 1;
    }

    &--columnSpreadFull {
      grid-column: 1 / -1;
    }

    &--rowSpreadSmall {
      height: var(--page-components-grid-row-height);
    }

    &--rowSpreadMedium {
      height: calc((var(--page-components-grid-row-height) * 2) + var(--page-components-grid-gap));
    }

    &--rowSpreadLarge {
      height: auto;
    }
  }
}
