.ComponentsPage_Filter {
  @apply --layout-column-center-stretch;
  height: 100%;
  color: var(--color-base-white);
  background-color: var(--color-base-black);

  &__head {
    flex-shrink: 0;
    padding-top: 24px;
  }

  &__closeButton {
    @mixin hover {
      color: var(--color-base-blue);
    }
    cursor: pointer;

    & .Icon {
      width: 13px;
      height: 13px;
    }
  }

  &--desktop &__closeButton {
    margin: 0 0 56px 24px;
  }

  &--mobile &__closeButton {
    margin: 0 0 16px 16px;
  }

  &__title {
    font-weight: bold;
  }

  &--desktop &__title {
    margin: 0 32px 12px;
    font-size: 2rem;
  }

  &--mobile &__title {
    margin: 0 16px 8px;
    font-size: 1.4rem;
  }

  &__description {
  }

  &--desktop &__description {
    margin: 0 32px 32px;
    font-size: 1.6rem;
  }

  &--mobile &__description {
    margin: 0 16px 8px;
    font-size: 1.2rem;
  }

  &__control {
    & .ComponentsPage_Filter__item {
      border-bottom-color: var(--color-base-white);
    }
  }

  &--desktop &__control {
    padding: 0 64px;
  }

  &--mobile &__control {
    padding: 0 24px;
  }

  &__body {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &--desktop &__body {
    padding: 0 64px;
  }

  &--mobile &__body {
    padding: 0 24px;
  }

  &__item {
    @apply --layout-center-start;
    height: 50px;
    border-bottom: 1px solid rgba(149, 152, 154, 0.3);
  }

  &__tail {
    flex-shrink: 0;
  }

  &--desktop &__tail {
    padding: 32px 64px;
  }

  &--mobile &__tail {
    padding: 8px 16px;
  }
}
