.EndpointsPage {
  display: block;

  &__head {
    @apply --layout-center-start;
  }

  &--desktop &__head {
    margin-bottom: 32px;
  }

  &--mobile &__head {
    margin-bottom: 8px;
  }

  &__title {
    @apply --text-truncate;
    flex-grow: 1;
    font-weight: bold;
  }

  &--desktop &__title {
    font-size: 2.8rem;
  }

  &--mobile &__title {
    font-size: 1.4rem;
  }

  &__orderButton {
    @apply --layout-center-center;

    @mixin hover {
      background-color: var(--color-base-blue);

      & .Icon {
        color: var(--color-base-white);
      }
    }
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--theme-orderButton-bg);
    border-radius: 50%;

    & .Icon {
      width: 16px;
      height: 16px;
    }

    &--active {
      background-color: var(--color-base-blue);

      & .Icon {
        color: var(--color-base-white);
      }
    }
  }

  &__container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(312px, auto));
    grid-auto-rows: 144px;
  }
}
