.EndpointsPage_Endpoint_Signin_Email {
  display: block;

  &__error {
    margin-bottom: 12px;
    color: var(--color-base-red);
  }

  & .Textinput {
    margin-bottom: 12px;
  }

  &__button {
    margin-top: 32px;
  }
}
