.EndpointsPage {
  display: block;

  &__head {
    @apply --layout-center-start;
    margin-bottom: 32px;
  }

  &__title {
    @apply --text-truncate;
    flex-grow: 1;
    font-size: 2.8rem;
    font-weight: bold;
  }

  &__orderButton {
    @apply --layout-center-center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--color-base-gray);
    border-radius: 50%;

    & .Icon {
      width: 16px;
      height: 16px;
    }

    &:hover,
    &.hold {
      background-color: var(--color-base-blue);

      & .Icon {
        color: var(--color-base-white);
      }
    }
  }

  &__container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, 312px);
    grid-auto-rows: 144px;
    justify-content: center;
  }
}
