.EndpointsPage_Endpoint {
  @apply --layout-stretch-center;
  position: relative;
  width: 100%;

  &__content {
    @mixin hover {
      border-color: var(--color-base-blue);
    }
    display: block;
    flex-grow: 1;
    padding: 24px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--theme-endpointCard-bg);
    border: 1px solid var(--theme-endpointCard-border);
    border-radius: 6px;
  }

  &__head {
    @apply --layout-center-center;
    margin-bottom: 8px;
  }

  &__thumbnail {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
  }

  &__thumbnailDefault {
    @apply --layout-center-center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: #a6b2de;
    border-radius: 50%;

    & .Icon {
      width: 16px;
      height: 16px;
      color: var(--color-base-white);
    }
  }

  &__headContent {
    flex-grow: 1;
    margin: 0 14px;
    overflow: hidden;
  }

  &__name {
    @apply --text-truncate;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__urlWrapper {
    @apply --layout-center-start;
  }

  &__color {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    background-color: #c092f5;
    border-radius: 50%;

    &--purple {
      background-color: #c092f5;
    }

    &--blue {
      background-color: #61c8ff;
    }

    &--green {
      background-color: #7cd6ab;
    }

    &--yellow {
      background-color: #ffc96b;
    }

    &--red {
      background-color: #f57177;
    }

    &--gray {
      background-color: #cbcfd4;
    }

    &--black {
      background-color: #484848;
    }

    &--white {
      background-color: #fff;
      border: 2px solid var(--color-base-gray);
    }
  }

  &__url {
    @apply --text-truncate;
    flex-grow: 1;
    color: var(--color-base-gray);
  }

  &__menu {
    @mixin hover {
      color: var(--color-base-blue);
    }
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__description {
    @apply --text-truncate;
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: var(--color-base-gray);
  }

  &__tags {
    @apply --layout-center-start;

    & .Tag {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__dropareaMarker {
    flex-shrink: 0;
    width: 0;
    overflow: hidden;
    background-color: var(--color-base-blue-secondary);
    border-radius: 6px;
    transition-duration: 300ms;
    transition-property: width, margin;

    &--active {
      width: 144px;
    }

    &--prev&--active {
      margin-right: 24px;
    }

    &--next&--active {
      margin-left: 24px;
    }
  }

  &__droparea {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
