.EndpointsPage_Endpoint_Menu_QRCode {
  display: block;

  &__title {
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: bold;
  }

  &__message {
    margin-bottom: 12px;
  }

  &__canvas {
    canvas {
      display: block;
      margin: 0 auto;
    }
  }
}
