.EndpointsPage_Endpoint {
  display: block;

  &__menu {
    display: inline-block;
    cursor: pointer;

    & .Icon {
      width: 12px;
      height: 12px;
    }
  }

  &__thumbnail {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
  }
}
