.EndpointsPage_Endpoint_Signin {
  @apply --layout-stretch-center;

  &__main {
    flex-grow: 1;
    padding: 64px;

    & .HorizontalRule {
      margin: 24px 0;
    }
  }

  &__thumbnail {
    width: 64px;
    height: 64px;
    margin: 0 auto 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
  }

  &__thumbnailDefault {
    @apply --layout-center-center;
    width: 64px;
    height: 64px;
    margin: 0 auto 24px;
    background-color: #a6b2de;
    border-radius: 50%;

    & .Icon {
      width: 32px;
      height: 32px;
      color: var(--color-base-white);
    }
  }

  &__name {
    margin-bottom: 32px;
    font-size: 1.4rem;
    text-align: center;
  }

  &__emails .EndpointsPage_Endpoint_Signin_Email {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__aside {
    position: relative;
    flex-shrink: 0;
    width: 197px;
    padding: 28px 32px;
    background-color: #0f1212;
    background-image: url("../img/bg_signin.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 197px 482px;
  }

  &__oauthMessage {
    margin-bottom: 36px;
    font-size: 1.6rem;
    color: var(--color-base-white);
  }

  &__oauths .EndpointsPage_Endpoint_Signin_Oauth {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__oauths--centered .EndpointsPage_Endpoint_Signin_Oauth__googleButton,
  &__oauths--centered .EndpointsPage_Endpoint_Signin_Oauth__facebookButton {
    margin: 0 auto;
  }
}
