.EndpointsPage_Endpoint_Signin_Oauth {
  display: block;

  &__button {
    @apply --layout-center-center;

    @mixin hover {
      opacity: 0.5;
    }
    height: 48px;
    color: var(--color-base-white);
    cursor: pointer;
    border: 2px solid var(--color-base-white);
    border-radius: 24px;
  }

  &__googleButton,
  &__facebookButton {
    @mixin hover {
      opacity: 0.5;
    }
    width: 133px;
    height: 44px;
    margin-right: 4px;
    cursor: pointer;
    background-position: center center;
    background-size: contain;

    &--large {
      width: 292px;
    }
  }

  &__googleButton {
    background-image: url("../img/oauth_google_small.png");

    &--large {
      background-image: url("../img/oauth_google_large.png");
    }
  }

  &__facebookButton {
    background-image: url("../img/oauth_facebook_small.png");

    &--large {
      background-image: url("../img/oauth_facebook_large.png");
    }
  }

  &__label {
    @apply --text-truncate;
    font-size: 1.6rem;
  }
}
