/* ITCSS: Generic */
/* Ground-zero styles(Normalize.css, resets, box-sizing). */
@import "suitcss-base";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  outline: none;
}

form {
  margin: 0;
}

input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  line-height: normal;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* Chromeのautofill機能で背景色がyellowに設定される問題への対応 */
@keyframes autofill {
  to {
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
