/* ITCSS: Generic */
/* Ground-zero styles(Normalize.css, resets, box-sizing). */
@import "suitcss-base";
@import "anchor.pcss";
@import "box-sizing.pcss";
@import "form.pcss";

*,
*::before,
*::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
