form {
  margin: 0;
}

input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  line-height: normal;
  font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}

/* Chromeのautofill機能で背景色がyellowに設定される問題への対応 */
@keyframes autofill {
  to {
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
