.Button {
  display: inline-block;
  padding: 16px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}

/* ============================== */
/* theme */
/* ============================== */
.Button--primary {
  color: var(--color-basic-white);
  background-color: var(--color-basic-skyblue);
}

.Button--primary:hover {
  /* TODO: デザイン完成後に正しい色に変更すること */
  background-color: var(--color-basic-lightPurple);
}

.Button--secondary {
  color: var(--color-basic-lightGray);
  background-color: var(--color-basic-gray);
}

.Button--secondary:hover {
  color: var(--color-basic-white);
  /* TODO: デザイン完成後に正しい色に変更すること */
  background-color: var(--color-basic-lightGray);
}

.Button--emphasis {
  color: var(--color-basic-white);
  background-color: var(--color-basic-red);
}

.Button--emphasis:hover {
  /* TODO: デザイン完成後に正しい色に変更すること */
  background-color: var(--color-basic-lightGray);
}

.Button--primaryGhost {
  color: var(--color-basic-skyblue);
  border: 3px solid var(--color-basic-skyblue);
}

.Button--primaryGhost:hover {
  color: var(--color-basic-lightPurple);
  /* TODO: デザイン完成後に正しい色に変更すること */
  border-color: var(--color-basic-lightPurple);
}

.Button--secondaryGhost {
  color: var(--color-basic-gray);
  border: 3px solid var(--color-basic-gray);
}

.Button--secondaryGhost:hover {
  color: var(--color-basic-lightGray);
  /* TODO: デザイン完成後に正しい色に変更すること */
  border-color: var(--color-basic-lightGray);
}

.Button--emphasisGhost {
  color: var(--color-basic-red);
  border: 3px solid var(--color-basic-red);
}

.Button--emphasisGhost:hover {
  color: var(--color-basic-lightGray);
  /* TODO: デザイン完成後に正しい色に変更すること */
  border-color: var(--color-basic-lightGray);
}
