.ComponentNumber {
  display: block;
}

.ComponentNumber__head {
  padding: 8px;
  border-bottom: 1px solid var(--color-basic-black);
}

.ComponentNumber__name {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.ComponentNumber__description {
  font-size: 12px;
}

.ComponentNumber__body {
  @apply --layout-center-center;
  padding: 16px;
}

.ComponentNumber__value {
  font-size: 48px;
  font-weight: bold;
  color: var(--color-basic-skyblue);
}
