.Drawer {
  @apply --layout-column-stretch-center;
  width: var(--component-application-asideColumn-width);
  height: 100%;
  background-color: var(--color-basic-white);
}

.Drawer__head {
  position: relative;
  padding: 24px 16px 0;
}

.Drawer__endpoint {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-basic-black);
}

.Drawer__endpointImage {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  background-image: url(../img/sample_thumbnail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16);
}

.Drawer__endpointBody {
  @apply --layout-column-stretch-center;
  height: 54px;
}

.Drawer__endpointBodyHead {
  flex-grow: 1;
  margin-right: 24px;
}

.Drawer__endpointTitle {
  @apply --text-truncate;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-basic-black);
}

.Drawer__endpointHost {
  @apply --text-truncate;
  font-size: 12px;
  color: var(--color-basic-black);
}

.Drawer__endpointDescription {
  @apply --text-truncate;
  font-size: 15px;
  color: var(--color-basic-black);
}

.Drawer__closeButton {
  @apply --layout-center-center;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--color-basic-black);
  cursor: pointer;
}

.Drawer__closeButton:hover {
  opacity: 0.5;
}

.Drawer__body {
  flex-grow: 1;
  padding: 24px 0;
  overflow-y: scroll;
}

.Drawer__sectionTitle {
  padding: 14px 16px;
  font-size: 11px;
  color: var(--color-basic-black);
}

.Drawer__group {
  display: block;
}

.Drawer__groupToggle {
  @apply --layout-center-center;
  padding: 14px 16px;
  margin-right: 8px;
  font-size: 15px;
  color: var(--color-basic-black);
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  transition-duration: 100ms;
  transition-property: color, background-color;
}

.Drawer__groupToggle:hover,
.Drawer__groupToggle--selected {
  color: var(--color-basic-white);
  background-color: var(--color-basic-black);
}

.Drawer__groupIconHead {
  margin-right: 8px;
}

.Drawer__groupName {
  flex-grow: 1;
}

.Drawer__groupIconTail {
  margin-right: 8px;
  transition-duration: 100ms;
  transition-property: transform;
}

.Drawer__groupIconTail--opened {
  transform: rotate(180deg);
}

.Drawer__groupList {
  position: relative;
  display: none;
  padding: 12px 0;
  margin-top: 12px;
  background-color: var(--color-basic-lightGray);
}

.Drawer__groupList--opened {
  display: block;
}

.Drawer__groupList::before {
  position: absolute;
  top: -4px;
  left: 30px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: var(--color-basic-lightGray);
  transform: rotate(45deg);
}

.Drawer__groupListItem {
  position: relative;
  padding: 14px 16px 14px 48px;
  margin-right: 8px;
  font-size: 14px;
  color: var(--color-text-default);
  cursor: pointer;
  background-color: var(--color-basic-lightGray);
  border-radius: 0 8px 8px 0;
  transition-duration: 100ms;
  transition-property: background-color;
}

.Drawer__groupListItem:hover {
  background-color: var(--color-basic-gray);
}
