.Input {
  display: inline-block;
}

.Input--disabled {
  cursor: not-allowed;
}

.Input__content {
  @apply --layout-center-center;
  padding: 14px;
  background-color: var(--color-basic-white);
  border: 1px solid var(--color-basic-gray);
  border-radius: 3px;
}

.Input--focused .Input__content {
  border-color: var(--color-basic-darkGray);
}

.Input--disabled .Input__content {
  background-color: var(--color-basic-lightGray);
}

.Input__icon {
  @apply --layout-center-center;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  font-size: 16px;
  color: var(--color-text-default);
}

.Input--disabled .Input__icon {
  color: var(--color-basic-gray);
}

.Input__input {
  display: block;
  width: 0;
  min-width: 0;
  flex-grow: 1;
  font-size: 18px;
  color: var(--color-text-default);
}

.Input--disabled .Input__input {
  color: var(--color-basic-gray);
  cursor: not-allowed;
}

.Input__resetButton {
  @apply --layout-center-center;
  width: 18px;
  height: 18px;
  margin-left: 4px;
  font-size: 16px;
  color: var(--color-basic-white);
  cursor: pointer;
  background-color: var(--color-basic-gray);
  border-radius: 50%;
}

.Input__resetButton:hover {
  background-color: var(--color-basic-lightGray);
}
