.Modal {
  @apply --layout-center-center;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: background-color;
}

.Modal--visible {
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal__frame {
  position: relative;
  min-width: 300px;
  max-width: 80%;
  min-height: 300px;
  max-height: 80%;
  padding: 88px 32px 32px;
  overflow: scroll;
  background-color: var(--color-basic-white);
  opacity: 0;
  transition-duration: 300ms;
  transition-property: transform, opacity;
  transform: scale(0.8);
}

.Modal--visible .Modal__frame {
  opacity: 1;
  transform: scale(1);
}

.Modal__closeButton {
  @apply --layout-center-center;
  position: absolute;
  top: 32px;
  left: 32px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--color-basic-black);
  cursor: pointer;
}

.Modal__closeButton:hover {
  opacity: 0.5;
}

.Modal__content {
}
