.Select {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 48px;
}

.Select__box {
  @apply --layout-center-center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 14px;
  color: var(--color-text-default);
  cursor: pointer;
  background-color: var(--color-basic-white);
  border: 1px solid var(--color-basic-gray);
  border-radius: 3px;
}

.Select:not(.Select--disabled) .Select__box:hover {
  border-color: var(--color-basic-darkGray);
}

.Select--disabled .Select__box {
  color: var(--color-basic-gray);
  cursor: not-allowed;
  background-color: var(--color-basic-lightGray);
}

.Select__label {
  @apply --text-truncate;
  flex-grow: 1;
  margin-right: 4px;
  font-size: 18px;
}

.Select__icon {
  @apply --layout-center-center;
  width: 18px;
  height: 18px;
  font-size: 16px;
  transition-duration: 100ms;
  transition-property: transform;
}

.Select--opened .Select__icon {
  transform: rotate(180deg);
}

.Select__options {
  position: absolute;
  top: 52px;
  left: 0;
  display: none;
  width: 100%;
  padding: 4px 0;
  background-color: var(--color-basic-white);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.Select--opened .Select__options {
  display: block;
}

.Select__option {
  @apply --layout-center-center;
  height: 48px;
  padding: 0 14px;
  cursor: pointer;
}

.Select__optionIcon {
  @apply --layout-center-center;
  margin-right: 4px;
  font-size: 16px;
  color: var(--color-text-default);
  visibility: hidden;
}

.Select__option--selected .Select__optionIcon {
  visibility: visible;
}

.Select__optionLabel {
  @apply --text-truncate;
  flex-grow: 1;
  font-size: 18px;
  color: var(--color-text-default);
}

.Select__option--selected .Select__optionLabel {
  font-weight: bold;
}

.Select__option--disabled {
  cursor: not-allowed;
}

.Select__option--disabled .Select__optionLabel {
  color: var(--color-basic-gray);
  cursor: not-allowed;
}

.Select__option:not(.Select__option--disabled):hover {
  background-color: var(--color-basic-skyblue);
}

.Select__option:not(.Select__option--disabled):hover .Select__optionLabel,
.Select__option:not(.Select__option--disabled):hover .Select__optionIcon {
  color: var(--color-basic-white);
}
