.Signin {
  display: block;
  width: 504px;
}

.Signin__title {
  margin-bottom: 24px;
  font-size: 36px;
  color: var(--color-text-default);
}

.Signin__endpointTitle {
  font-size: 18px;
  color: var(--color-text-default);
}

.Signin__emails {
  margin-top: 24px;
}

.Signin__email {
  @apply --layout-center-center;
  margin-bottom: 12px;
}

.Signin__email .Input,
.Signin__email .Button {
  display: block;
}

.Signin__email .Input {
  flex-grow: 1;
  margin-right: 12px;
}

.Signin__email .Button {
  flex-shrink: 0;
}

.Signin__email:last-child {
  margin-bottom: 0;
}

.Signin__oauths {
  margin-top: 24px;
}

.Signin__oauth {
  display: inline-block;
  margin-right: 12px;
}

.Signin__oauth:last-child {
  margin-right: 0;
}
