.Slider {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 12px;
}

.Slider__groove {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  margin: auto 0;
  background-color: #ddd;
}

.Slider__bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  margin: auto 0;
  background-color: var(--color-basic-skyblue);
}

.Slider--disabled .Slider__bar {
  background-color: var(--color-basic-gray);
}

.Slider__knob {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto 0;
}

.Slider__ball {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-color: var(--color-basic-skyblue);
  border-radius: 50%;
}

.Slider--disabled .Slider__ball {
  cursor: not-allowed;
  background-color: var(--color-basic-gray);
}
