.Toasts {
  position: relative;
  display: block;
  overflow: hidden;
  pointer-events: none;
}

.Toasts .Toast {
  position: absolute;
  top: -var(--component-application-head-height);
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  transition-duration: 300ms;
  transition-property: top, opacity;
}

.Toasts .Toast--visible {
  top: 0;
}
