.Toast {
  @apply --layout-center-center;
  font-size: 13px;
  color: var(--color-basic-white);
  cursor: pointer;
  background-color: var(--color-basic-black);
  opacity: 0;
  transition-duration: 300ms;
  transition-property: opacity;
}

.Toast--normal {
  background-color: var(--color-basic-black);
}

.Toast--error {
  background-color: var(--color-basic-red);
}

.Toast--visible {
  opacity: 1;
}
