@import "settings/all.pcss";
@import "tools/all.pcss";
@import "generics/all.pcss";
@import "bases/all.pcss";
@import "objects/all.pcss";
@import "components/all.pcss";
@import "pages/all.pcss";
@import "trumps/all.pcss";
