version: '3.8'

services:

  example:
    build: .
    restart: always
    depends_on:
      - mongo
    ports:
      - 3000:3000
      - 9229:9229 # node-inspector
    environment:
      - MODE=mongo
    env_file:
      - .env
    volumes:
      - $PWD/package.json:/example/nodejs/package.json
      - $PWD/src:/example/nodejs/src
      - $PWD/cert:/example/nodejs/cert
    command: run dev

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - $PWD/data/mongo/db:/data/db
    env_file: mongo.env
    networks:
      default:
        aliases:
          - viron.example.nodejs
