version: '2'
services:
  mysql:
    # 512*1024*1024 = 536870912 Byte = 512 MB
    mem_limit: 536870912
    image: mysql:5.6
    ports:
      - 3306:3306
    volumes:
      - $PWD/docker/mysql/data:/var/lib/mysql
    env_file:
      - ./mysql.env
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    networks:
      default:
        aliases:
          - viron.dev
