/* @see: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media {
  display: flex;
  align-items: flex-start;
}

.media__image {
  margin-right: 0;
}

.media__body {
  flex-grow: 1;
  width: 0;
  min-width: 0;
}
