version: '2'
services:

  example-node:
    # 240*1024*1024 = 251658240 Byte = 240 MB
    mem_limit: 251658240
    build: .
    working_dir: "/example-node"
    depends_on:
      - mysql
    ports:
      - 3000:3000
      - 53000:53000
    environment:
      - SERVICE_ENV=local
      - GOOGLE_OAUTH_CLIENT_ID=${GOOGLE_OAUTH_CLIENT_ID}
      - GOOGLE_OAUTH_CLIENT_SECRET=${GOOGLE_OAUTH_CLIENT_SECRET}
    volumes:
      - $PWD/package.json:/example-node/package.json
      - $PWD/shared:/example-node/shared
      - $PWD/api:/example-node/api
      - $PWD/config:/example-node/config
      - $PWD/app.js:/example-node/app.js
      - $PWD/test:/example-node/test
    command: npm run debug
    #command: tail -f /var/log/bootstrap.log

  mysql:
    # 512*1024*1024 = 536870912 Byte = 512 MB
    mem_limit: 536870912
    image: mysql:5.6
    ports:
      - 3306:3306
    volumes:
      - $PWD/docker/mysql/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=dmc_local
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    networks:
      default:
        aliases:
          - local-dmc-mysql.in.dmc.biz
