.Clock{
	position: relative;
	top: 0px;
	left: 0px;
	height:100%;
	background:no-repeat center center;
	background-size:cover;
	&__hand{
		width: 250px;
    height: 250px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto auto auto;
	}
  &__timeZone{
		text-shadow: 2px 2px 2px #aaaaaa;
		text-align: center;
		bottom: 20px;
		color: #fff;
		font-size: 20px;
		font-family: system-ui;
		position: absolute;
		left: 0;
		right: 0;
	}
}
.dial{
	padding-top: 4px;
}
