.Clock{
	position: relative;
	top: 0px;
	left: 0px;
	height:100%;
	background:no-repeat center center;
	background-size:cover;
	&__hand{
		width: 250px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto auto auto;
	}
  &__timeZone{
		text-align: center;
    bottom: 30px;
    color: #FFFFFF;
    font-size: 25px;
    font-family: serif;
    position: absolute;
    left: 0;
    right: 0;
	}
}
